<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>玩家创作馆</title>
    <link href="{{ url_for( "static", filename="css/creation/creation.css" ) }}" rel="stylesheet" />
</head>

<body style="padding-top: 42px;">
    <h1 class="hid">英雄联盟：我的时代</h1>
    <div class="pre pre_bg" style="position: absolute;">
        <ul class="pre_b">
            <!-- 调整位置对应到相应的背景图标 -->
            <li class="pre_tg pre_bg"><a href="#" target="_blank" class="pre_blnk">腾讯游戏</a></li>
            <li class="pre_gg pre_bg"><a target="_blank" class="pre_blnk" href="#">精彩活动</a></li>
            <li class="pre_link">
                <p class="page pre_bg"><a href="/" target="_blank" class="pre_lnk">英雄联盟首页</a></p>
                <p class="download"><a href="/" target="_blank" class="pre_lnk">游戏下载</a></p>
            </li>
        </ul>
    </div>
    <div class="wrap1">
        <a href="/" target="_blank" class="logo-1" title="英雄联盟官网"></a>
        <div class="main1">
        </div>
    </div>
    <div class="wrap2">
        <div class="main2">
            <div class="event1">
                <p class="t1"></p>
                <ul class="event1-ul">
                    <li>一位少年得志的游戏天才屡获大奖，在签订了七年合约后，远赴外国打职业。然而，在种种因素作用之下，少年李牧始终未能登场。七年之后，更加成熟的他，转战《英雄联盟》，藏身艾欧尼亚，叱咤风云却又无人知晓，最终跨过职业电竞的起跑线。
                    </li>
                    <li>《英雄联盟：我的时代》，让属于每一个召唤师的热血青春得以被记载。在追逐以及关注、热爱电竞的道路上，我们在蜕变却不忘初心，冠军殊荣的降临，是对这些年青春时光最好的回馈。</li>
                    <li>这里有我们的热血青春，这是我们的时代!</li>
                </ul>
                <p class="sp s1">连载开启时间：2018年12月1日</p>
                <a href="#" target="_blank" class="sp btn-1" title="开始阅读">开始阅读</a>
                <p class="tips"></p>
            </div>
            <div class="event2">
                <div class="event2-left">
                    <p class="s1">骷髅精灵</p>
                    <p class="s2">起点白金作家，一名狂热喜爱着《英雄联盟》的玩家。<br>2012年加入召唤师的行列，使用本命英雄暗裔剑魔打上铂金段位。</p>
                </div>
                <div class="event2-right">
                    <span class="event2-img"></span>
                    <p class="sp s3"><span>每个故事都是我的孩子，<br>我不是热爱她们，<br>而是为她们倾尽所有</span></p>
                </div>
            </div>
            <div class="event3">
                <div class="t3"></div>
                <div class="btn-div open">
                    <a href="#" target="_blank" class="sp btn1" title="故事征集">故事征集</a>
                    <a href="#" target="_blank" class="sp btn2" title="话题抽奖">话题抽奖</a>
                    <a target="_blank" class="sp btn3" title="阅读有礼">阅读有礼</a>
                </div>
                <div class="event3-con">
                    <span></span>
                </div>
                <div class="logo-div">
                    <a href="#" target="_blank" class="logo-2" title="阅文集团"></a>
                    <a href="#" target="_blank" class="logo-3" title="斗鱼"></a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrap">
                <p><a href="#" target="_blank">腾讯互动娱乐</a> | <a href="#" target="_blank">服务条款</a>| <a href="#"
                        target="_blank">腾讯游戏隐私保护指引</a>| <a href="#" target="_blank">腾讯游戏儿童隐私保护指引</a>| <a href="#"
                        target="_blank">广告服务</a> | <a href="#" target="_blank">腾讯游戏招聘</a> | <a href="#"
                        target="_blank">腾讯游戏客服</a> | <a href="#" target="_blank">游戏地图</a> | <a href="#"
                        target="_blank">成长守护平台</a> | <a href="#" target="_blank">商务合作</a> | <a href="#"
                        target="_blank">网站导航</a></p>
                <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
                <p><a href="#" target="_blank">腾讯公司 版权所有</a></p>
            </div>
        </div>
    </div>

</html>