<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>玩家创作馆</title>
    <link href="{{ url_for( "static", filename="css/creation/creation.css" ) }}" rel="stylesheet" />
</head>

<body style="padding-top: 42px;">
    <h1 class="hid">英雄聯盟：我的時代</h1>
    <div class="pre pre_bg" style="position: absolute;">
        <ul class="pre_b">
            <li class="pre_tg pre_bg"><a href="#" target="_blank" class="pre_blnk">騰訊遊戲</a></li>
            <li class="pre_gg pre_bg"><a target="_blank" class="pre_blnk" href="#">精彩活動</a></li>
            <li class="pre_link">
                <p class="page pre_bg"><a href="/" target="_blank" class="pre_lnk">英雄聯盟首頁</a></p>
                <p class="download"><a href="/" target="_blank" class="pre_lnk">遊戲下載</a></p>
            </li>
        </ul>
    </div>
    <div class="wrap1">
        <a href="/" target="_blank" class="logo-1" title="英雄聯盟官網"></a>
        <div class="main1">
        </div>
    </div>
    <div class="wrap2">
        <div class="main2">
            <div class="event1">
                <p class="t1"></p>
                <ul class="event1-ul">
                    <li>
                        一位少年得志的遊戲天才屢獲大獎，在簽訂了七年合約後，遠赴外國打職業。然而，在種種因素作用之下，少年李牧始終未能登場。七年之後，更加成熟的他，轉戰《英雄聯盟》，藏身艾歐尼亞，叱吒風雲卻又無人知曉，最終跨過職業電競的起跑線。
                    </li>
                    <li>《英雄聯盟：我的時代》，讓屬於每一個召喚師的熱血青春得以被記載。在追逐以及關注、熱愛電競的道路上，我們在蛻變卻不忘初心，冠軍殊榮的降臨，是對這些年青春時光最好的回饋。</li>
                    <li>这里有我们的热血青春，这是我们的时代!</li>
                </ul>
                <p class="sp s1">連載開啓時間：2018年12月1日</p>
                <a href="#" target="_blank" class="sp btn-1" title="開始閱讀">開始閱讀</a>
                <p class="tips"></p>
            </div>
            <div class="event2">
                <div class="event2-left">
                    <p class="s1">骷髏精靈</p>
                    <p class="s2">起點白金作家，一名狂熱喜愛着《英雄聯盟》的玩家。<br>2012年加入召喚師的行列，使用本命英雄暗裔劍魔打上鉑金段位。</p>
                </div>
                <div class="event2-right">
                    <span class="event2-img"></span>
                    <p class="sp s3"><span>每個故事都是我的孩子，<br>我不是熱愛她們，<br>而是爲她們傾盡所有</span></p>
                </div>
            </div>
            <div class="event3">
                <div class="t3"></div>
                <div class="btn-div open">
                    <a href="#" target="_blank" class="sp btn1" title="故事徵集">故事徵集</a>
                    <a href="#" target="_blank" class="sp btn2" title="話題抽獎">話題抽獎</a>
                    <a target="_blank" class="sp btn3" title="閱讀有禮">閱讀有禮</a>
                </div>

                <div class="logo-div">
                    <a href="#" target="_blank" class="logo-2" title="閱文集團"></a>
                    <a href="#" target="_blank" class="logo-3" title="鬥魚"></a>
                </div>
            </div>
        </div>
        <div class="footer">
        <div class="wrap">
            <p><a href="#" target="_blank">騰訊互動娛樂</a> | <a href="#" target="_blank">服務條款</a>| <a href="#"
                    target="_blank">騰訊遊戲隱私保護指引</a>| <a href="#" target="_blank">騰訊遊戲兒童隱私保護指引</a>| <a href="#"
                    target="_blank">廣告服務</a> | <a href="#" target="_blank">騰訊遊戲招聘</a> | <a href="#"
                    target="_blank">騰訊遊戲客服</a> | <a href="#" target="_blank">遊戲地圖</a> | <a href="#"
                    target="_blank">成長守護平臺</a> | <a href="#" target="_blank">商務合作</a> | <a href="#"
                    target="_blank">網站導航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">騰訊公司 版權所有</a></p>
        </div>
    </div>
    </div>

</html>