<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>玩家服务</title>
    <link href="{{ url_for( "static", filename="css/service/service.css" ) }}" rel="stylesheet" />
</head>

<body style="padding-top: 42px;">
    <div class="pre pre_bg" style="position: absolute;">
        <ul class="pre_b">
            <!-- 调整位置对应到相应的背景图标 -->
            <li class="pre_tg pre_bg"><a href="#" target="_blank" class="pre_blnk">腾讯游戏</a></li>
            <li class="pre_gg pre_bg"><a target="_blank" class="pre_blnk" href="#">精彩活动</a></li>
            <li class="pre_link">
                <p class="page pre_bg"><a href="/" target="_blank" class="pre_lnk">英雄联盟首页</a></p>
                <p class="download"><a href="/" target="_blank" class="pre_lnk">游戏下载</a></p>
            </li>
        </ul>
    </div>
    <div class="wrapper">

        <div class="headr">

            <div class="head-con">
                <a href="#" class="logo origin" target="_blank" title="英雄联盟"></a>
                <div style="display:block">
                    <div class="serach_box">
                        <i class="origin icon"></i><input type="text" placeholder="请输入需要查询的问题" class="search">
                    </div>

                    <div>
                        <ul class="tip" style="width: 1240px; left: 0px;">
                            <li>
                                <ul>

                                    <li>
                                        <a href="#" target="_blank">
                                            <div class="title">
                                                <i class="icon ic1"></i>
                                                <h1>【举报违规新途径-微信】</h1>
                                                <p>微信绑定游戏QQ，进入官方人工举报通道，提交举报内容后，有专人立即核实处理，24小时内给您结果。</p>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank">
                                            <div class="title">
                                                <i class="icon ic2"></i>
                                                <h1>英雄联盟官方微博</h1>
                                                <p>这里是最有爱的撸啊撸玩家聚集地！投稿发微博@英雄联盟 @英雄联盟同人 撸妹儿每天翻牌哟... </p>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank">
                                            <div class="title">
                                                <i class="icon ic3"></i>
                                                <h1>梦梦幺妹在快手官号等你看直播</h1>
                                                <p>老铁们：快手英雄联盟官号的直播上线啦，每周三-周日18-21点，梦梦幺妹快手直播等你，欢迎观看。</p>
                                            </div>

                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="set" style="display: block;">
            <div class="set-con">
                <h1>选择您的问题分类，获取帮助</h1>
                <ul>
                    <li class="list1">
                        <a><i class="origin spr1"></i>
                            <p>封号处罚</p>
                        </a></li>
                    <li class="list2">
                        <a><i class="origin spr2"></i>
                            <p>登录异常</p>
                        </a></li>
                    <li class="list3">
                        <a><i class="origin spr3"></i>
                            <p>活动相关</p>
                        </a></li>
                    <li class="list4">
                        <a><i class="origin spr4"></i>
                            <p>充值/购买异常</p>
                        </a></li>
                    <li class="list5">
                        <a><i class="origin spr5"></i>
                            <p>赛事相关</p>
                        </a></li>
                    <li class="list6">
                        <a><i class="origin spr6"></i>
                            <p>游戏故障/Bug</p>
                        </a></li>
                    <li class="list7">
                        <a><i class="origin spr7"></i>
                            <p>峡谷之巅</p>
                        </a></li>
                    <li class="list8">
                        <a><i class="origin spr8"></i>
                            <p>违规举报</p>
                        </a></li>
                    <li class="list9">
                        <a><i class="origin spr9"></i>
                            <p>其他问题</p>
                        </a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="wrap">
            <p><a href="#" target="_blank">腾讯互动娱乐</a> | <a href="#" target="_blank">服务条款</a>| <a href="#"
                    target="_blank">腾讯游戏隐私保护指引</a>| <a href="#" target="_blank">腾讯游戏儿童隐私保护指引</a>| <a href="#"
                    target="_blank">广告服务</a> | <a href="#" target="_blank">腾讯游戏招聘</a> | <a href="#"
                    target="_blank">腾讯游戏客服</a> | <a href="#" target="_blank">游戏地图</a> | <a href="#"
                    target="_blank">成长守护平台</a> | <a href="#" target="_blank">商务合作</a> | <a href="#"
                    target="_blank">网站导航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">腾讯公司 版权所有</a></p>
        </div>
    </div>

</body>

</html>