<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>玩家服务</title>
    <link href="{{ url_for( "static", filename="css/service/service.css" ) }}" rel="stylesheet" />
</head>

<body style="padding-top: 42px;">
    <div class="pre pre_bg" style="position: absolute;">
        <ul class="pre_b">
            <li class="pre_tg pre_bg"><a href="#" target="_blank" class="pre_blnk">騰訊遊戲</a></li>
            <li class="pre_gg pre_bg"><a target="_blank" class="pre_blnk" href="#">精彩活動</a></li>
            <li class="pre_link">
                <p class="page pre_bg"><a href="/" target="_blank" class="pre_lnk">英雄聯盟首頁</a></p>
                <p class="download"><a href="/" target="_blank" class="pre_lnk">遊戲下載</a></p>
            </li>
        </ul>
    </div>
    <div class="wrapper">

        <div class="headr">

            <div class="head-con">
                <a href="#" class="logo origin" target="_blank" title="英雄联盟"></a>
                <div style="display:block">
                    <div class="serach_box">
                        <i class="origin icon"></i><input type="text" placeholder="请输入需要查询的问题" class="search">
                    </div>

                    <div>
                        <ul class="tip" style="width: 1240px; left: 0px;">
                            <li>
                                <ul>

                                    <li>
                                        <a href="#" target="_blank">
                                            <div class="title">
                                                <i class="icon ic1"></i>
                                                <h1>【舉報違規新途徑-微信】</h1>
                                                <p>微信綁定遊戲QQ，進入官方人工舉報通道，提交舉報內容後，有專人立即覈實處理，24小時內給您結果。</p>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank">
                                            <div class="title">
                                                <i class="icon ic2"></i>
                                                <h1>英雄聯盟官方微博</h1>
                                                <p> 這裏是最有愛的擼啊擼玩家聚集地！ 投稿發微博@英雄聯盟 @英雄聯盟同人 擼妹兒每天翻牌喲...</p>
                                            </div>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank">
                                            <div class="title">
                                                <i class="icon ic3"></i>
                                                <h1>夢夢幺妹在快手官號等你看直播</h1>
                                                <p>老鐵們：快手英雄聯盟官號的直播上線啦，每週三-週日18-21點，夢夢幺妹快手直播等你，歡迎觀看。</p>
                                            </div>

                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="set" style="display: block;">
            <div class="set-con">
                <h1>選擇您的問題分類，獲取幫助</h1>
                <ul>
                    <li class="list1">
                        <a><i class="origin spr1"></i>
                            <p>封號處罰</p>
                        </a></li>
                    <li class="list2">
                        <a><i class="origin spr2"></i>
                            <p>登錄異常</p>
                        </a></li>
                    <li class="list3">
                        <a><i class="origin spr3"></i>
                            <p>活動相關</p>
                        </a></li>
                    <li class="list4">
                        <a><i class="origin spr4"></i>
                            <p>充值/購買異常</p>
                        </a></li>
                    <li class="list5">
                        <a><i class="origin spr5"></i>
                            <p>賽事相關</p>
                        </a></li>
                    <li class="list6">
                        <a><i class="origin spr6"></i>
                            <p>遊戲故障/Bug</p>
                        </a></li>
                    <li class="list7">
                        <a><i class="origin spr7"></i>
                            <p>峽谷之巔</p>
                        </a></li>
                    <li class="list8">
                        <a><i class="origin spr8"></i>
                            <p>違規舉報</p>
                        </a></li>
                    <li class="list9">
                        <a><i class="origin spr9"></i>
                            <p>其他問題</p>
                        </a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="wrap">
            <p><a href="#" target="_blank">騰訊互動娛樂</a> | <a href="#" target="_blank">服務條款</a>| <a href="#"
                    target="_blank">騰訊遊戲隱私保護指引</a>| <a href="#" target="_blank">騰訊遊戲兒童隱私保護指引</a>| <a href="#"
                    target="_blank">廣告服務</a> | <a href="#" target="_blank">騰訊遊戲招聘</a> | <a href="#"
                    target="_blank">騰訊遊戲客服</a> | <a href="#" target="_blank">遊戲地圖</a> | <a href="#"
                    target="_blank">成長守護平臺</a> | <a href="#" target="_blank">商務合作</a> | <a href="#"
                    target="_blank">網站導航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">騰訊公司 版權所有</a></p>
        </div>
    </div>

</body>

</html>