<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>攻略中心</title>
    <link href="{{ url_for( "static", filename="css/psp/psp.css" ) }}" rel="stylesheet" />
</head>

<body style="display: block;">

    <h1 class="hide">英雄聯盟官方網站</h1>
    <h2 class="hide">英雄聯盟攻略中心</h2>

    <div class="top">
        <div class="top-inner">
            <div class="logo">
                <a href="#" class="logo-lol"></a>
            </div>

            <div class="menu">
                <div class="menu-item">
                    <a href="/" target="_blank">英雄聯盟首頁</a>
                </div>
                <div class="menu-item">
                    <a href="/download" target="_blank">遊戲下載</a>
                </div>
            </div>

            <div class="head-user">
                    <p class="login">親愛的召喚師，歡迎<a href="/login" target="_blank">登錄</a></p>
            </div>

        </div>
    </div>

    <div>
        <div class="mid">
            <div class="pic">
                <img src="{{ url_for( "static", filename="image/psp_image/0.jpg" ) }}" class="top-back-img">
            </div>
        </div>
        <div class="content">
            <div class="content-inner">
                <div class="hero-recommend">
                    <h3>推薦英雄攻略</h3>

                    <div class="frame">
                        <div class="hero-list">
                            <a><img src="{{ url_for( "static", filename="image/psp_image/Thresh.png" ) }}" ></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/LeeSin.png" ) }}" ></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/Yasuo.png" ) }}" ></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/Ryze.png" ) }}" ></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/Kaisa.png" ) }}" ></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/JarvanIV.png" ) }}" ></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/Nautilus.png" ) }}" ><span>猜你喜歡</span></a>
                            <a><img src="{{ url_for( "static", filename="image/psp_image/Renekton.png" ) }}" ><span>猜你喜歡</span></a>
                        </div>
                        <a class="btn-add"></a>

                        <div class="hero-content">
                                <div class="hero-wrap">
                                    <img src="{{ url_for( "static", filename="image/psp_image/big412000.jpg" ) }}" >
                                </div>
                        </div>
                    </div>
                </div>

                <div class="hero-rank">

                    <h3>英雄排行榜</h3>

                    <div class="frame">
                        <!--一级tab S-->
                        <div class="tab-list">
                            <a data-types="0" class="on">综合</a>
                            <a data-types="1">勝率</a>
                            <a data-types="2">登場率</a>
                            <a data-types="3">禁用率</a>
                        </div>

                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th><span>英雄</span></th>
                                        <th class="nots">勝率</th>
                                        <th class="nots">登場率</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>1</p>
                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Darius.png" ) }}" ></div>
                                            <div>
                                                <p>諾克薩斯之手</p>
                                                <p>

                                                    上單

                                                </p>
                                            </div>
                                        </td>
                                        <td>49.92%</td>
                                        <td>21.36%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>2</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Jax.png" ) }}" ></div>
                                            <div>
                                                <p>武器大師</p>
                                                <p>

                                                    上單

                                                    打野

                                                </p>
                                            </div>
                                        </td>
                                        <td>51.05%</td>
                                        <td>11.42%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>3</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Kayle.png" ) }}" ></div>
                                            <div>
                                                <p>正義天使</p>
                                                <p>

                                                    上單

                                                    中單

                                                </p>
                                            </div>
                                        </td>
                                        <td>51.08%</td>
                                        <td>9.48%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>4</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Fiora.png" ) }}" ></div>
                                            <div>
                                                <p>無雙劍姬</p>
                                                <p>

                                                    上單

                                                </p>
                                            </div>
                                        </td>
                                        <td>49.27%</td>
                                        <td>12.55%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>4</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Riven.png" ) }}" ></div>
                                            <div>
                                                <p>放逐之刃</p>
                                                <p>

                                                    上單

                                                    中單
                                                </p>
                                            </div>
                                        </td>
                                        <<td>50.18%</td>
                                        <td>9.12%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>6</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Malphite.png" ) }}" >
                                            </div>
                                            <div>
                                                <p>熔岩巨獸</p>
                                                <p>

                                                    上單

                                                    輔助

                                                    中單

                                                    打野

                                                </p>
                                            </div>
                                        </td>
                                        <td>49.89%</td>
                                        <td>8.75%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>7</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Gangplank.png" ) }}" >
                                            </div>
                                            <div>
                                                <p>海洋之災</p>
                                                <p>

                                                    上單

                                                    中單

                                                </p>
                                            </div>
                                        </td>
                                        <td>49.57%</td>
                                        <td>9.63%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>8</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Camille.png" ) }}" ></div>
                                            <div>
                                                <p>青鋼影</p>
                                                <p>

                                                    上單

                                                    中單

                                                </p>
                                            </div>
                                        </td>
                                        <td>50.34%</td>
                                        <td>6.1%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>9</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Renekton.png" ) }}" ></div>
                                            <div>
                                                <p>荒漠屠夫</p>
                                                <p>

                                                    上單

                                                    中單

                                                </p>
                                            </div>
                                        </td>
                                        <td>47.33%</td>
                                        <td>12.75%</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p>10</p>

                                        </td>
                                        <td>
                                            <div class="hero-pic"><img src="{{ url_for( "static", filename="image/psp_image/Mordekaiser.png" ) }}" >
                                            </div>
                                            <div>
                                                <p>鐵鎧冥魂</p>
                                                <p>

                                                    上單

                                                    中單

                                                </p>
                                            </div>
                                        </td>
                                        <td>49.44%</td>
                                        <td>6.14%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="bottom-pic">
                    <h3>精選專題</h3>
                    <div class="act-list clearfix">

                        <a href="#">
                            <img src="{{ url_for( "static", filename="image/psp_image/1.jpg" ) }}" >
                            <b class="type-1">新手專題</b>
                            <span>LOL俠客眼位教學合集：新手的福利禮包，高手的進階之道</span>
                        </a>

                        <a href="#">
                            <img src="{{ url_for( "static", filename="image/psp_image/2.jpg" ) }}" >
                            <b class="type-1">英雄專題</b>
                            <span>兔玩英雄訓練營：英雄打法與技巧</span>
                        </a>

                        <a href="#">
                            <img src="{{ url_for( "static", filename="image/psp_image/3.jpg" ) }}" >
                            <b class="type-1">新手專題</b>
                            <span>懶人一圖看版本：快速瞭解版本改動</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <p><a href="#" target="_blank">騰訊互動娛樂</a> | <a href="#" target="_blank">服務條款</a>| <a href="#"
                    target="_blank">騰訊遊戲隱私保護指引</a>| <a href="#" target="_blank">騰訊遊戲兒童隱私保護指引</a>| <a href="#"
                    target="_blank">廣告服務</a> | <a href="#" target="_blank">騰訊遊戲招聘</a> | <a href="#"
                    target="_blank">騰訊遊戲客服</a> | <a href="#" target="_blank">遊戲地圖</a> | <a href="#"
                    target="_blank">成長守護平臺</a> | <a href="#" target="_blank">商務合作</a> | <a href="#"
                    target="_blank">網站導航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">騰訊公司 版權所有</a></p>
        </div>
    </div>

</body>

</html>