body{
  background: #eee;
}
header{
  background-color: transparent;
}
.head-bgimg{
  width: 100%;
  min-width: 1358px;
  height: 360px;;
  background: url("../image/index_image/big.png") no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}
.head-link{
  width: 160px;
  height: 40px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 293px;
  text-align: center;
  line-height: 40px;
  background: url("../image/index_image/topfoot-spr.png") no-repeat -216px -39px;
  z-index: 111;
  font-size: 0;
}
.head-version{
  width: 251px;
  height: 26px;
  font-size: 14px;
  color: #888787;
  overflow: hidden;
}
.head-version div{
  position: absolute;
  top: 300px;
  right: 10%;
}
.head-version em{
  color: #f5d185;
  font-style: normal;
  margin: 0 8px 0 6px;
}
.head-version a{
  display: inline-block;
  height: 22px;
  padding: 0 15px;
  border: 2px solid #f5d185;
  color: #f5d185;
  text-align: center;
  line-height: 22px;
}
.fixnav{
  position: fixed;
  right: 0;
  bottom: 15%;
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
  border-radius: 20px;
}
.fixnav li{
  width: 60px;
  height: 53px;
  margin-bottom: 6px;
  line-height: 53px;
  text-align: center;
  font-size: 12px;
  color: yellowgreen; 
}
.change{
  filter: brightness(1.5)
}
/* 主体部分 */
.container{
  width: 1358px;
  height: auto;
  margin: 282px auto 0 auto;
}
/* 主体一层部分 */
.tab-carousel{
  width: 1358px;
  height: 380px;
  padding-top: 40px;
  overflow: hidden;
}
/* 左边图片轮换carousel */
.carousel{
  width: 820px;
  height: 380px;
  float: left;
}
.carousel ul{
  width: 820px;
  height: 340px;
  float: left;
  position: relative;
}
.carousel ul li{
  width: 820px;
  height: 340px;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel ul li img{
  width: 820px;
  height: 340px;
}
.carousel-list{
  width: 820px;
  height: 40px;
}
.carousel-list span{
  display: block;
  width: 164px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #424242;
  font-size: 14px;
  background: #e3e2e2;
  box-sizing: border-box;
  float: left;
}
.carousel-list>span.selected{
  color: #ab8e66;
  background-color: #f7f6f6;
  border-bottom: 2px solid #cea861;
}
/* 右侧tab切换开始 */
.tab{
  width: 496px;
  height: 380px;
  float: right;
}
/* tab上部分 */
.tab-top{
  width: 496px;
  height: 35px;
}
.tab-top ul{
  float: left;
  height: 35px;
  width: 596px;
  border-bottom: 1px solid #e0e2e2;
  position: relative;
}
.tab-top ul li{
  float: left;
  margin-right: 74px;
  font-size: 18px;
  width: 40px;
  height: 37px;
}
.tab-top ul li::after,.m-act-title ul li::after{
  display: none;
  content: "";
  width: 40px;
  height: 7px;
  background: url("../image/index_image/comm-spr.png") no-repeat -273px 0;
  text-align: center;
  position: absolute;
  top: 31px;
}
.tab-top ul li.selected::after,.tab-top ul li.selected,.m-act-title ul li.selected::after,.m-act-title ul li.selected,.m-video-title ul li.selected::after,.m-video-title ul li.selected{
  display: block;
  color: #1da6ba;
}
/* tab中间主体部分 */
.tab-content{
  width: 496px;
  height: 345px;
}
.tab-content ul{
  width: 100%;
  height: 305px;
}
.db{
  display: block;
}
.dn{
  display: none;
}
.tab-content ul li{
  width: 100%;
  height: 40px;
  color: #000;
  border-bottom: 1px solid #e0e2e2;
  line-height: 40px;
  text-align: left;
  box-sizing: border-box;
}
.tab-content ul li:nth-child(1){
  height: 59px;
  font-size: 22px;
  text-align: center;
  line-height: 59px;
}
.tab-content ul li:nth-child(1) a{
  color: #0da0b4;
}
.tab-content ul li:nth-child(1) a:hover{
  color: #bb9a6c;
}
.tab-content ul li .item-type{
  display: inline-block;
  width: 36px;
  height: 20px;
  border: 1px #97afc5 solid;
  color: #6388c5;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.tab-content ul li .item-href{
  display: inline-block;
  width: 370px;
  height: 39px;
  font-size: 14px;
  color: #424242;
  margin-left: 20px;
}
.tab-content ul li .item-href:hover{
  color: #6388c5;
}
.tab-content ul li .item-time{
  font-size: 14px;
  color: #9d9d9d;
  margin-left: 18px;
}
/* tab下面 */
.tab-bottom{
  display: inline-block;
  width: 496px;
  height: 40px;
  font-size: 14px;
  background: #e3e2e2;
  line-height: 40px;
  text-align: center;
}
.tab-bottom span:nth-child(1){
  color: #676767;
}
.tab-bottom span:nth-child(2){
  color: #7ea1a6;
}
i{
  display: inline-block;
  width: 15px;
  height: 9px;
  margin-left: 2px;
  background: url("../image/main_image/comm-spr.png") no-repeat -301px -96px;
}
i:hover{
  animation: run 1.5s linear infinite;
}
/* 热门活动 */
.m-act{
  width: 100%;
  max-width: 1358px;
  min-width: 1230px;
  height: auto;
  padding-bottom: 80px;
  margin-top: 50px;
}
.m-act-top{
  width: 100%;
  max-width: 1358px;
  min-width: 1230px;
  height: 335px;
  overflow: hidden;
}
/* 上面左半部 */
.m-act-top-left{
  width: 820px;
  height: 100%;
  float: left;
}
/* title部分 */
.m-act-title{
  width: 820px;
  height: 35px;
  position: relative;
}
.m-act-title h2{
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  position: absolute;
  top: 5px;
  left: -6px;
}
.m-act-title h2::before{
  display: inline-block;
  content: "";
  width: 4px;
  height: 28px;
  margin-right: 10px;
  background: #1da6ba;
  vertical-align: middle;
}
.m-act-title ul{
  width: 692px;
  height: 35px;
  float: right;
  border-bottom: 1px #e0e2e2 solid;
}
.m-act-title ul li{
  height: 37px;
  float: left;
  font-size: 16px;
  margin-right: 40px;
  color: #676767;
  line-height: 37px;
  text-align: center;
  letter-spacing: 1px;
}
.m-act-title ul li::after{
  width: 68px;
  background-position: -260px 0;
}
.m-act-title a{
  display: inline-block;
  width: 44px;
  height: 35px;
  line-height: 35px;
  color: #7ea1a6;
  font-size: 12px;
  position: absolute;
  right: 0;
}
.m-act-title a:hover{
  text-decoration: underline;
  color: #1da6ba;
  font-weight: bold;
}
/* list部分 */
.m-act-list{
  width: 820px;
  height: 278px;
  margin-top: 21px;
}
.m-act-list ul{
  width: 840px;
  height: 278px;
  position: relative;
}
.m-act-list ul li{
  float: left;
  width: 193px;
  height: 278px;
  margin-right: 16px;
  position: relative;
}
.m-act-list ul li p{
  width: 100%;
  height: 28px;
  padding: 6px 10px 4px;
  font-size: 14px;
  color: #424242;
  line-height: 28px;
}
.m-act-list ul li .timing{
  font-size: 12px;
  color: #1da6ba;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.m-act-list ul li em{
  width: 29px;
  height: 14px;
  display: inline-block;
  background: url("../image/index_image/comm-spr.png") no-repeat -247px -46px;
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.m-act-list .mask{
  width: 193px;
  height: 207px;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.m-act-list .mask-news{
  width: 180px;
  height: 180px;
  margin: 12px 2px 4px 6px;
  border: 1px solid #bb9a6c;
}
.mask-news h3{
  font-size: 16px;
  height: 20px;
  width: 100%;
  line-height: 20px;
  text-align: center;
  color: #ab8e66;
  margin-top: 60px;
}
.mask .mask-news p{
  font-size: 8px;
  text-align: center;
  color: #9d9d9d;
  padding: 0;
}
.m-act-list ul li:hover{
  transform: translateY(-8px);
}
.m-act-list ul li:hover .titlelist{
  color: #1da6ba;
}
.m-act-list ul li:hover div{
  display: block;
}
/* 上面右半部部分 */
.m-act-top-right{
  width: 496px;
  height: 355px;
  float: right;
}
.m-act-top-right ul{
  width: 100%;
  float: left;
}
.m-act-top-right ul li{
  float: left;
  position: relative;
}
.m-act-top-right ul li:first-child{
  width: 366px;
  height: 168px;
}
.m-act-top-right ul li:first-child a{
  display: inline-block;
  width: 366px;
  height: 100%;
  background: url("../image/index_image/pic-download.png") no-repeat;
}
.m-act-top-right ul li:first-child a:hover{
  filter: brightness(1.15);
}
.m-act-top-right ul .flashmen{
  position: relative;
}
.m-act-top-right ul .flashmen a{
  display: inline-block;
  width: 118px;
  height: 76px;
  background: url("../image/index_image/index-spr.png") no-repeat -193px -316px;
  font-size: 14px;
  line-height: 76px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.p1{
  margin-left: 12px;
}
.p2{
  margin: 17px 0 0 12px;
}
.p1:hover,.p2:hover{
  filter: brightness(1.15);
}
.p3 a,.p4 a{
  display: inline-block;
  width: 112px;
  height: 68px;
  background-color: #fff;
  color: #424242;
  line-height: 68px;
  text-align: center;
  font-size: 12px;
}
.p3 em,.p4 em{
  display: inline-block;
  background: url("../image/index_image/comm-spr.png") no-repeat;
}
.p3{
  margin: 15px 16px 0 0;
}
.p4{
  margin-top: 15px;
}
.m-act-top-right ul li:nth-child(4) em{
  width: 25px;
  height: 19px;
  background-position: -318px -12px;
  position: absolute;
  top: 25px;
  left: 3px;
}
.m-act-top-right ul li:nth-child(5) em,.m-act-top-right ul li:nth-child(6) em,.m-act-top-right ul li:nth-child(7) em
,.m-act-top-right ul li:nth-child(9) em,.m-act-top-right ul li:nth-child(10) em{
  width: 20px;
  height: 20px;
  background-position: -193px -71px;
  position: absolute;
  top: 25px;
  left: 8px;
}
.m-act-top-right ul li:nth-child(6) em{
  background-position: -218px -71px;
}
.m-act-top-right ul li:nth-child(7) em{
  background-position: -264px -12px;
}
.m-act-top-right ul li:nth-child(8) a{
  width: 240px;
}
.m-act-top-right ul li:nth-child(8) em.icon{
  display: inline-block;
  background: url("../image/index_image/comm-spr.png") no-repeat -231px -12px;
  width: 28px;
  height: 24px;
  position: absolute;
  top: 25px;
  left: 65px;
}
.m-act-top-right ul li:nth-child(8) em.news{
  display: inline-block;
  background: url("../image/index_image/comm-spr.png") no-repeat -247px -46px;
  width: 29px;
  height: 14px;
  position: absolute;
  right: 62px;
  bottom: 25px;
}
.m-act-top-right ul li:nth-child(9) em{
  width: 23px;
  height: 17px;
  background-position: -319px -71px;
}
.m-act-top-right ul li:nth-child(10) em{
  width: 18px;
  height: 18px;
  background-position: -375px -12px;
}
.m-act-top-right ul li:hover em,.m-act-top-right ul li:hover a{
  color: #0da0b4;
  box-shadow: 0 0 10px #ccc;
  border-radius: 4px;
}
.m-act-top-right ul li:hover em{
  animation: hotact 0.5s ;
}
.m-act-top-right ul li:nth-child(8):hover em.news{
  animation: hotact 0;
}
@keyframes hotact {
  0%{transform: scale(1)}
  50%{transform: scale(1.2)}
  100%{transform: scale(1)}
} 
/* 下半部分开始 */
.m-act-bottom{
  width: 100%;
  min-width: 1230px;
  height: 254px;
  margin-top: 51px;
}
.m-act-bottom-left{
  width: 820px;
  height: 254px;
  float: left;
  position: relative;
}
.m-act-bottom-left div:nth-child(2){
  margin-left: 16px;
}
.champion-one{
  width: 402px;
  height: 254px;
  float: left;
  position: relative;
}
.champion-one .newhero{
  display: inline-block;
  width: 48px;
  height: 20px;
  background-color: #000;
  color: #cdbe91;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.champion-one p:nth-child(1){
  font-size: 16px;
  color: #cdbe91;
  padding-left: 17px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  bottom: 30px;
  left: 0;
  font-weight: bold;
}
.champion-one p:nth-child(2) a{
  display: inline-block;
  width: 90px;
  height: 17px;
  line-height: 17px;
  font-size: 14px;
  color: #cfcfcf;
  padding-left: 17px;
  position: absolute;
  bottom: 12px;
  left: 0;
}
/* magic cat遮挡图 */
.mask-magiccat{
  width: 402px;
  height: 254px;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.mask-magiccat em{
  display: inline-block;
  width: 396px;
  height: 248px;
  background: url("../image/index_image/index-spr.png") no-repeat 0 0;
  position: absolute;
  top: 3px;
  left: 3px;
}
.mask-magiccat p{
  font-size: 18px;
  color: #cdbe91;
  position: absolute;
  top: 20px;
  left: 27px;
}
.mask-magiccat ul{
  width: 450px;
  height: auto;
  margin-top: 58px;
  padding-left: 27px;
  overflow: hidden;
  float: left;
}
.mask-magiccat ul li{
  width: 175px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 0 32px 9px 0;
  color: #fff;
}
.mask-magiccat ul li span{
  display: inline-block;
  width: 80px;
  height: 4px;
  background: #6c6c6c;
  vertical-align: middle;
  position: relative;
}
.mask-magiccat ul li span em{
  height: 4px;
  width: 40px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.mask-magiccat a{
  display: inline-block;
  width: 154px;
  height: 42px;
  font-size: 14px;
  color: #ffd888;
  text-align: center;
  line-height: 42px;
  background: url("../image/index_image/index-spr.png") no-repeat -401px -179px;
  position: absolute;
  bottom: 18px;
  left: 25px;
}
.m-act-bottom-left div:nth-child(1):hover .mask-magiccat{
  display: block;
}
/* more skin遮挡图 */
.more-skin{
  width: 1358px;
  /* min-width: 1230px; */
  height: 117px;
  position: absolute;
  top: 284px;
  left: -418px;
}
.more-skin ul{
  width: 1368px;
  height: 117px;
  display: none;
}
.more-skin ul li{
  width: 185px;
  height: 117px;
  margin-right: 10px;
  float: left;
  position: relative;
  overflow: hidden;
}
.more-skin ul li img{
  width: 185px;
  height: 117px;
}
.more-skin ul li:hover img{
  transform: scale(1.1)
}
.more-skin ul li a{
  display: inline-block;
  width: 185px;
  height: 30px;
  color: #cdbe91;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  background: rgba(0, 0, 0, .6);
}
.m-act-bottom-left div:nth-child(2):hover .more-skin ul{
  display: block;
  margin-bottom: 50px;
}
.m-act-bottom-left div:nth-child(2):hover .newskin{
  transform: scale(1.1);
}
/* 下半部分右侧板块 */
.m-act-bottom-right{
  width: 496px;
  height: 254px;
  float: right;
}
.new-vision{
  width: 240px;
  height: 120px;
  margin-bottom: 15px;
  overflow: hidden;
  float: left;
}
.new-vision:hover{
  transform: scale(1.2);
}
.club-develop{
  width: 242px;
  height: 180px;
  float: right;
  position: relative;
}
.club-develop a{
  display: inline-block;
  width: 242px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  color: #cdbe91;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  display: none;
}
.club-develop a em{
  display: inline-block;
  width: 236px;
  height: 174px;
  background: url("../image/index_image/index-spr.png") no-repeat -401px 0;
  position: absolute;
  top: 3px;
  left: 3px;
}
.club-develop .p1{
  position: absolute;
  top: 38px;
  left: 0;
  padding: 0 10px;
}
.club-develop .p2{
  line-height: 20px;
  font-size: 12px;
  color: #9d9c9c;
  position: absolute;
  top: 70px;
  left: 0;
  padding: 0 10px;
}
.club-develop:hover a{
  display: block;
}
.new-model{
  width: 240px;
  height: 120px;
  float: left;
}
.model2{
  display: none;
}
.new-model:hover .model1{
  display: none;
}
.new-model:hover .model2{
  display: block;
}
/* 周免 */
.week-free{
  width: 239px;
  height: 58px;
  float: right;
  margin-top: 17px;
  background: #CDB084;
  text-align: center;
  line-height: 58px;
  font-size: 16px;
  position: relative;
}
.week-free a{
  display: block;
  width: 239px;
  color: #fff;
}
.week-free a i{
  background-position: -361px -46px;
}
.week-free a .icon-left,.icon-right{
  display: inline-block;
  width: 20px;
  height: 9px;
  margin: -1px 10px 0 10px;
  background: url("../image/index_image/index-spr.png") no-repeat;
  opacity: .7;
}
.week-free a .icon-left{
  background-position: -531px -226px;
}
.week-free a .icon-right{
  background-position: -506px -226px;
}
/* 下拉周免图片 */
.free-pic{
  width: 430px;
  height: 130px;
  position: absolute;
  top: 70px;
  right: 0;
  background: #fff;
  display: none;
}
.free-pic em{
  display: inline-block;
  width: 14px;
  height: 7px;
  background: url("../image/index_image/index-spr.png") no-repeat -556px -226px; 
  position: absolute;
  top: -7px;
  right: 114px;
}
.free-pic ul{
  width: 420px;
  height: 114px;
  margin: 6px 5px 10px 5px;
}
.free-pic ul li{
  width: 50px;
  height: 50px;
  margin: 7px 5px 0 5px;
  float: left;
}
.free-pic ul li a{
  display: inline-block;
  width: 50px;
  height: 50px;
}
.free-pic ul li a img{
  width: 46px;
  height: 46px;
  border: 2px solid #CDB084;
  border-radius: 50%;
}
.week-free:hover .free-pic{
  display: block;
}
.week-free:hover{
  filter: brightness(1.15);
}
/* part-最新视频 */
.m-video{
  height: 463px;
  width: 1358px;
  padding: 64px 0 66px;
  margin: 0 auto;
}
.part2-video{
  width: 1358px;
  min-width: 1230px;
  height: 463px;
  margin: 0 auto;
}
.m-video-left{
  width: 820px;
  height: 463px;
  float: left;
}
/* 标题 */
 .m-video-title{
  width: 820px;
  height: 35px;
  position: relative;
}
.m-video-title h2{
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  position: absolute;
  top: 5px;
  left: -6px;
}
.m-video-title h2::before{
  display: inline-block;
  content: "";
  width: 4px;
  height: 28px;
  margin-right: 10px;
  background: #1da6ba;
  vertical-align: middle;
}
.m-video-title ul{
  width: 692px;
  height: 35px;
  float: right;
  border-bottom: 1px #d6d7d8 solid;
}
.m-video-title ul li{
  height: 37px;
  float: left;
  font-size: 16px;
  margin-right: 40px;
  color: #676767;
  line-height: 37px;
  text-align: center;
  letter-spacing: 1px;
}
.m-video-title ul li::after{
  display: none;
  content: "";
  width: 40px;
  height: 7px;
  background: url(../image/index_image/comm-spr.png) no-repeat -273px 0;
  text-align: center;
  position: absolute;
  top: 31px;
}
.m-video-title a{
  display: inline-block;
  width: 44px;
  height: 35px;
  line-height: 35px;
  color: #7ea1a6;
  font-size: 12px;
  position: absolute;
  right: 0;
}
.m-video-title a:hover{
  text-decoration: underline;
  color: #1da6ba;
  font-weight: bold;
} 
/* 视频详情 */
.m-video-left .video-time{
  width: 840px;
  height: 402px;
  margin-top: 32px;
}
.m-video-left .video-time li{
  width: 193px;
  height: 185px;
  float: left;
  margin: 0 16px 16px 0;
  position: relative;
}
.m-video-left .video-time li a:first-child{
  display: inline-block;
  width: 193px;
  height: 103px;
  position: relative;
}
.m-video-left .video-time li a:first-child img{
  width: 193px;
  height: 107px;
}
.m-video-left .video-time li a:nth-child(2){
  display: block;
  width: 193px;
  height: 42px;
  text-align: center;
  line-height: 21px;
  color: #424242;
  font-size: 14px;
  margin-top: 4px;
}
.m-video-left .video-time li a:nth-child(3),.m-video-left .video-time li a:nth-child(4){
  display: inline-block;
  font-size: 12px;
  color: #919091;
  position: absolute;
  bottom: 10px;
}
.m-video-left .video-time li a:nth-child(3){
  left: 4px;
}
.m-video-left .video-time li a:nth-child(4){
  right: 4px;
}
.m-video-left .video-time li a:first-child span{
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 38%;
  background: rgba(0, 0, 0, .5);
  display: none; 
}
.m-video-left .video-time li a:first-child span em{
  display: inline-block;
  width: 54px;
  height: 54px;
  background: url("../image/index_image/index-spr.png") no-repeat -437px -253px;
}
.m-video-left .video-time li a:first-child span u{
  display: inline-block;
  width: 11px;
  height: 13px;
  background: url("../image/index_image/index-spr.png") no-repeat -456px -316px;
  position: absolute;
  top: 40%;
  left: 40%;
}
@keyframes rotates{
  0%{transform: rotate(0deg)};
  25%{transform: rotate(90deg)}
  50%{transform: rotate(180deg)}
  75%{transform: rotate(270deg)}
  100%{transform: rotate(360deg)}
}
.m-video-left .video-time li:hover a:nth-child(2){
  color: #0da0b4;
}
.m-video-left .video-time li:hover a:nth-child(1) span{
  display: block;
}
.m-video-left .video-time li:hover a:nth-child(1) span em{
  animation: rotates 3s linear infinite;
}
/* 热门专辑 */
.m-video-right{
  width: 496px;
  height: 454px;
  float: right;
}
.m-video-right div:first-child{
  width: 496px;
}
.m-video-title .video-day{
  width: 367px;
  float: right;
}
.m-video-title .video-day li{
  width: 40px;
  margin-right: 12px;
}
.hotprogram{
  width: 496px;
  height: 387px;
  margin-top: 32px;
}
.hotprogram-content{
  width: 513px;
  height: auto;
  position: relative;
}
.hotcontent{
  width: 513px;
  height: 337px;
  overflow: hidden;
}
.hotprogram-content ul{
  width: 5000px;
  height: 337px;
}
.hotprogram-content ul li{
  width: 156px;
  height: 337px;
  margin-right: 15px;
  float: left;
  position: relative;
}
.hotprogram-content ul li img{
  width: 156px;
  height: 212px;
}
.hotprogram-content ul li h4{
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 45%;
  left: 20%;
}
.hotprogram-content ul li p{
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 52%;
  left: 24%;
}
.name-hotprogram{
  display: block;
  width: 100%;
  height: 42px;
  font-size: 14px;
  color: #919091;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 7px;
  line-height: 21px;
}
.author-hotprogram{
  display: block;
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #919091;
  box-sizing: border-box;
  padding-left: 4px;
  margin-top: 20px;
}
.hotprogram-content ul li .author-hotprogram img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.name-hotprogram:hover,.author-hotprogram:hover{
  color: #0da0b4;
}
.hotprogram-left,.hotprogram-right,.gamelist-left,.gamelist-right{
  display: block;
  width: 23px;
  height: 51px;
  background: url("../image/index_image/index-spr.png") no-repeat;
  position: absolute;
  top: 23%;
}
.hotprogram-left:hover,.hotprogram-right:hover,.gamelist-left:hover,.gamelist-right:hover{
  filter: brightness(1.07);
}
.hotprogram-left,.gamelist-left{
  background-position: -221px -397px;
  left: -6%;
}
.hotprogram-right,.gamelist-right{
  background-position: -193px -397px;
  right: -6%;
}
.more-hotprogram{
  display: block;
  width: 506px;
  height: 50px;
  color: #ab8e66;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  background: url("../image/index_image/index-spr.png") no-repeat 0 -522px;
}
.more-hotprogram:hover{
  filter: brightness(1.08);
}
/* 赛事中心模块part-3 */
.m-match{
  width: 1358px;
  /* min-width: 1233px; */
  height: 623px;
  margin: 0 auto;
  padding: 64px 0 80px 0;
  overflow: hidden;
}
/* 赛事中心标题 */
.m-video-title{
  width: 100%;
  position: relative;
}
.m-video-title .match-list{
  float: right;
  width: 1230px;
}
.m-video-title .match-list li{
  margin-right: 54px;
}
.m-video-title .match-list li::after{
  width: 100px;
  background-position: -242px 0;
}
.morematch:hover{
  text-decoration: underline;
  color: #1da6ba;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
}
.m-video-title .eventmatch{
  display: inline-block;
  width: 140px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #676767;
  font-weight: 700;
  position: absolute;
  right: 70px; 
}
.m-video-title .eventmatch img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
/* 比赛日期形程 */
.match-details{
  width: 1358px;
  /* min-width: 1230px; */
  height: auto;
  padding-top: 26px;
}
.gamelist{
  width: 1375px;
  height: 198px;
  position: relative;
  overflow: hidden;
}
.gamelist ul{
  width: 3900px;
  height: 198px;
}
.gamelist ul li{
  width: 259px;
  height: 198px;
  float: left;
  margin-right: 16px;
  background: #fefefe;
  cursor: pointer;
}
.gamelist-time{
  display: block;
  width: 259px;
  height: 28px;
  background-image: linear-gradient(to right,#b69d75,#d6ba92);
}
.gamelist-time span{
  display: inline-block;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.gamelist-time .span1{
  float: left;
  margin-left: 12px;
}
.gamelist-time .span3{
  float: right;
  margin-right: 12px;
}
.gamelist-time .span2{
  float: right;
  margin-right: 14px;
}
.gamelist-team{
  width: 251px;
  height: 105px;
  margin: 18px 1px 0 1px;
}
.gamelist-team img{
  width: 50px;
  height: 50px;
}
.gamelist-team p{
  font-size: 18px;
  color: #385155;
}
.tean-a,.tean-score,.tean-b{
  width: 85px;
  height: 85px;
  text-align: center;
  float: left;
}
.tean-a p,.tean-b p{
  margin-top: 8px;
}
.tean-score{
  width: 80px;
  margin-top: 10px;
}
.tean-score span a{
  font-size: 34px;
  color: #171717;
  margin: 0 2px;
  font-weight: 700;
}
.tean-score .score-time{
  display: inline-block;
  width: 86px;
  height: 29px;
  color: #bb9a6c;
  line-height: 29px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #bb9a6c;
  font-size: 12px;
  margin-top: 20px;
}
.tean-score .score-time:hover{
  background-color: #bb9a6c;
  color: #fff;
}
.gamelist ul li .p1{
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  color: #727272;
  margin-left: 0;
}
/* 左右按钮 */
.gamelist-left,.gamelist-right{
  top: 37%;
}
.gamelist-left{
  left: -30px;
}
.gamelist-right{
  right: -15px;
}
/* 比赛战队信息 */
.matchnews{
  width: 1358px;
  /* min-width: 1230px; */
  height: 313px;
  margin-top: 38px;
}
/* 最强战力 */
.match-power{
  width: 820px;
  height: 313px;
  float: left;
}
.matchnews .m-video-title h2{
  font-size: 18px;
  color: #0b0b0b;
  margin-left: 15px;
}
.matchnews .m-video-title h2::before{
  display: none;
}
.match-player{
  width: 840px;
  height: 257px;
  margin-top: 21px;
}
.match-player li{
  width: 151px;
  height: 257px;
  margin-right: 16px;
  float: left;
  background: #fefefe;
}
.match-player li div{
  height: 40px;
  width: 100%;
  line-height: 40px;
}
.match-player li div a{
  font-size: 24px;
  color: #7b7b7b7b;
  margin: 4px 0 0 4px;
  font-weight: bold;
}
.match-player li div img{
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.player{
  width: 151px;
  height: 151px;
}
.match-player p{
  box-sizing: border-box;
  font-size: 14px;
  color: #424242;
  padding-left: 10px;
  margin-top: 7px;
  height: 20px;
  line-height: 20px;
}
.match-player p.score{
  color: #7ea1a6;
}
/* 积分榜 */
.match-score{
  width: 496px;
  height: 313px;
  float: right;
}
.match-score .m-video-title h2{
  margin-left: 6px;
}
.match-score .score-rank{
  width: 496px;
  height: 257px;
  margin-top: 21px;
}
.match-score .score-rank h4{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #151517;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0 18px;
  background: #e0e0e0;
}
.match-score .score-rank a{
  width: 44px;
  display: inline-block;
  text-align: center;
}
.match-score .score-rank .a-1{
  float: left;
}
.match-score .score-rank .a-2{
  width: 124px;
  margin-left: 69px;
  float: left;
}
.match-score .score-rank .a-3{
  width: 100px;
  margin-left: 45px;
  float: left;
}
.match-score .score-rank .a-4{
  float: right;
}
.match-score .score-rank ul{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 18px;
  background: #fefefe;
}
.match-score .score-rank ul li {
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
}
.match-score .score-rank ul li a{
  height: 100%;
  font-size: 16px;
}
.match-score .score-rank ul li .a-1{
  font-size: 18px;
  color: #7b7b7b;
  float: left;
  font-weight: bold;
}
.match-score .score-rank ul li .a-2{
  color: #151515;
}
.match-score .score-rank ul li .a-2 img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.match-score .score-rank ul li .a-3,.match-score .score-rank ul li .a-4{
  color: #5f8d94;
}
/* 英雄资料板块 */
.champion{
  width: 1358px;
  /* min-width: 1358px; */
  height: auto;
  padding: 66px 0;
  margin: 0 auto;
}
.championlist{
  width: 1358px;
  /* min-width: 1230px; */
  height: 494px;
  margin: 0 auto;
}
.m-video-title .morematch{
  width: 70px;
}
.championlist .m-video-title ul{
  width: 784px;
  height: 35px;
  float: left;
  border: 0;
  margin-left: 150px;
}
.championlist .m-video-title ul li{
  width: 68px;
  height: 37px;
  padding-left: 28px;
  margin-right: 40px;
  float: left;
  box-sizing: border-box;
  font: 16px #676767;
  border: 0;
  position: relative;
  cursor: pointer;
}
.championlist .m-video-title ul li:nth-child(1){
  width: 96px;
}
.championlist .m-video-title ul li::after{
  display: block;
  width: 20px;
  height: 19px;
  background: url("../image/index_image/index-spr.png") no-repeat -406px -316px;
  position: absolute;
  top: 11px;
  left: 2px;
}
.championlist .m-video-title ul li:hover,.championlist .m-video-title ul li:hover::after{
  font-weight: 700;
  color: #1da6ba;
  background-position: -431px -316px;
}
.championlist .m-video-title ul li.active,.championlist .m-video-title ul li.active::after{
  font-weight: 700;
  color: #1da6ba;
  background-position: -431px -316px;
}
.championname{
  width: 1395px;
  height: 438px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 21px;
  cursor: pointer;
}
.championname::-webkit-scrollbar {
  width: 8px;
 }
.championname::-webkit-scrollbar-track {
  background-color:#e3e2e2;
 }
.championname::-webkit-scrollbar-thumb {
  background-color:#abc0c3;
  border-radius: 8px;
}
.championname ul{
  width: 1395px;
  height: auto;
}
.championname ul li{
  width: 90px;
  height: 100px;
  margin: 0 16px 12px 0;
  float: left;
  position: relative;
}
.championname ul li img{
  width: 66px;
  height: 66px;
  margin-left: 12px;
}
.championname ul li em{
  display: inline-block;
  width: 66px;
  height: 66px;
  background: url("../image/index_image/dark70-bg-repeat.png") repeat;
  position: absolute;
  top: 0;
  left: 12px;
  display: none;
}
.championname ul li em::after{
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  background: url("../image/index_image/index-spr.png") no-repeat -401px -226px;
  position: absolute;
  left: 20px;
  top: 25px;
}
.championname ul li p{
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}
.championname ul li:hover em,.championname ul li:hover p{
  display: block;
  color: #1da6ba;
}
/* fanart板块 */
.fanart{
  width: 1358px;
  height: 572px;
  padding: 66px 0 82px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.fanart-create{
  width: 820px;
  height: 424px;
  float: left;
}
.fanart-create ul{
  width: 840px;
  height: 368px;
  margin-top: 21px;
}
.fanart-create ul li{
  width: 192px;
  height: 176px;
  margin: 0 17px 17px 0;
  float: left;
  position: relative;
  overflow: hidden;
}
.fanart-create ul li a:first-child{
  display: inline-block;
  width: 192px;
  height: 176px;
}
.fanart-create ul li a:first-child img{
  width: 192px;
  height: 176px;
  transition: all 1s;
}
.fanart-create ul li .mask{
  width: 192px;
  height: 67px;
  padding: 0 8px 6px 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: -67px;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: all 1s;
}
.fanart-create ul li .mask a:first-child{
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}
.fanart-create ul li .mask a:first-child:hover{
  text-decoration: underline;
}
.fanart-create ul li .mask p a:nth-child(1){
  display: inline-block;
  width: 68px;
  margin-bottom: 3px;
  font-size: 14px;
  color: #b2b2b2;
}
.fanart-create ul li .mask p a:nth-child(1) img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 4px;
}
.fanart-create ul li .mask p a:nth-child(1):hover{
  color: #fff;
}
.fanart-create ul li .mask p a:nth-child(2){
  display: block;
  width: 46px;
  height: 17px;
  line-height: 17px;
  font-size: 14px;
  color: #b2b2b2;
  float: right;
  margin-top: 6px;
}
.fanart-create ul li .mask p a:nth-child(2)::before{
  display: inline-block;
  content: "";
  width: 23px;
  height: 17px;
  background: url("../image/index_image/index-spr.png") no-repeat -456px -226px;
  vertical-align: middle;
  margin-right: 3px;
}
.fanart-create ul li .mask p a:nth-child(2):hover,.fanart-create ul li .mask p a:nth-child(2):hover::before{
  color: #fff;
  background-position: -428px -226px;
}
.fanart-create ul li:hover a:nth-child(1) img{
  transform: scale(1.2);
}
.fanart-create ul li:hover .mask{
  transform: translateY(-67px);
}
.fanart-show{
  width: 496px;
  height: 424px;
  float: right;
}
.fanart-show-left{
  width: 241px;
  height: 424px;
  float: left;
  margin-top: 13px;
  transition: all 0.5s;
}
.fanart-show-left:hover{
  transform: translateY(-13px);
  filter: brightness(1.1);
}
.fanart-show-right{
  width: 240px;
  height: 369px;
  margin-top: 55px;
  float: right;
}
.fanart-show-right li{
  width: 240px;
  height: 87px;
  margin-bottom: 16px;
  position: relative;
}
.fanart-show-right li:hover{
  filter: brightness(1.1);
}
.fanart-show-right li .news{
  display: inline-block;
  width: 240px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 34%;
  left: -15%;
}
.fanart-show-right li a em{
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../image/index_image/index-spr.png") no-repeat -484px -226px;
  vertical-align: middle;
}
.fanart-show-right li:nth-child(4){
  height: 60px;
  margin-bottom: 0;
  float: right;
}
.fanart-show-right li:nth-child(4) div{
  margin-top: 0;
}
.fanart-show-right li:nth-child(4) div .icon-right{
  background-position: -506px -222px;
}
.fanart-show-right li:nth-child(2) a,.fanart-show-right li:nth-child(3) a{
  left: -20%;
}
.fanart-show-right li:nth-child(4) a{
  left: 0;
}
.fanart-show-right li:nth-child(4):hover ul{
  /* filter: brightness(1.05); */
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fanart-show-right li:nth-child(4) ul::-webkit-scrollbar {
  width: 8px;
 }
.fanart-show-right li:nth-child(4) ul::-webkit-scrollbar-track {
  background-color:#e3e2e2;
 }
.fanart-show-right li:nth-child(4) ul::-webkit-scrollbar-thumb {
  background-color:#abc0c3;
  border-radius: 8px;
}
.fanart-show-right li:nth-child(4) ul{
  width: 239px;
  height: 250px;
  background: #fff;
  color: #676767;
  position: absolute;
  bottom: -248px;
  left: 1px;
  overflow: scroll;
  z-index: 99999;
  display: none;
}
.fanart-show-right li:nth-child(4) ul li{
  width: 239px;
  height: 19px;
  margin: 8px 0;
  padding-left: 12px;
  box-sizing: border-box;
}
.fanart-show-right li:nth-child(4) a.title{
  display: inline-block;
  width: 239px;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  color: #676767;
}
.fanart-show-right li:nth-child(4) ul li:hover{
  background: #eee;
}