.login{
  width: 100%;
  min-width: 1358px;
  height: 600px;
  background: url("../image/register_image/4.jpg") no-repeat center;
  background-size: cover;
}
.user{
  width: 1358px;
  min-width: 1230px;
  height: 460px;
  margin: 0 auto;
  padding-top: 70px;
}
.user-info{
  width: 250px;
  height: 300px;
  float: right;
  background: rgba(0, 0, 0, .2);
  color: #fff;
  padding: 30px 10px 0 30px;
  margin-top: 40px;
}
.title p{
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.title p a{
  font-size: 12px;
  position: relative;
  right: -120px;
  color: #fff;
}
.text{
  width: 150px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  margin: 30px 0;
  margin-bottom: 50px;
}
.a-1 input,.a-2 input{
  width: 200px;
  height: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 50px;
}
.a-3{
  width: 242px;
  margin-bottom: 20px;
}
.a-3 a{
  float: right;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
}
.button input{
  width: 242px;
  height: 37px;
  font-size: 12px;
  background: linear-gradient(to bottom, #27b0f6 0%, #0aa1ed 100%);
  border: 0;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
}
