.register{
  width: 100%;
  min-width: 1358px;
  height: 600px;
  background: url("../image/register_image/bg.jpg") no-repeat;
  background-size: cover;
}
.user{
  width: 1358px;
  min-width: 1230px;
  height: 460px;
  margin: 0 auto;
  padding-top: 70px;
}
.user-info{
  width: 550px;
  height: 460px;
  float: right;
  background: rgba(0, 0, 0, .2);
  color: #fff;
  padding: 30px 20px 0 30px;
}
.title p{
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.title p a{
  font-size: 12px;
  position: relative;
  right: -220px;
  color: #fff;
}
.form-group{
  width: 550px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 50px;
  padding-left: 10px;
}
.form-group label{
  display: inline-block;
  width: 90px;
  font-size: 14px;
  text-align: right;
}
.form-group input{
  width: 250px;
  padding: 10px 20px;
  margin: 0 12px;
}
.form-group #submitinfo{
  width: 294px;
  font-size: 12px;
  background: linear-gradient(to bottom, #27b0f6 0%, #0aa1ed 100%);
  border: 0;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.info{
  color: #fff;
  background: #999;
} 
.error{
  color: #fff;
  background: #f00;
}
.ok{
  color: #fff;
  background: #0d0;
}