<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>赛事中心</title>
    <link href="{{ url_for( "static", filename="css/competition/competition.css" ) }}" rel="stylesheet" />
</head>

<body style="padding-top: 42px;">
    <div class="pre pre_bg" style="position: absolute;">
        <ul class="pre_b">
            <li class="pre_tg pre_bg"><a href="#" target="_blank" class="pre_blnk">腾讯游戏</a></li>
            <li class="pre_gg pre_bg"><a target="_blank" class="pre_blnk" href="#">精彩活动</a></li>
            <li class="pre_link">
                <p class="page pre_bg"><a href="/" target="_blank" class="pre_lnk">英雄联盟首页</a></p>
                <p class="download"><a href="/" target="_blank" class="pre_lnk">游戏下载</a></p>
            </li>
        </ul>
    </div>
    <div class="g-wrap">
        <!--顶部条-->
        <div class="top-bar">
            <div class="inner">
                <!--logo-->
                <div class="logo-list">
                    <a class="logo-item" href="#" target="_blank">
                        <img src="{{ url_for( "static", filename="image/competition_image/middle.png" ) }}" alt="英雄联盟">
                    </a>
                    <a class="logo-item" href="#" target="_blank">
                        <img src="{{ url_for( "static", filename="image/competition_image/logo-lcl.png" ) }}" alt="英雄联盟全国高校联赛">
                    </a>
                </div>

            </div>
        </div>
        <div class="banner">
            <ul>
                <li class="main-pic">
                    <img src="{{ url_for( "static", filename="image/competition_image/lcl-banner.jpg" ) }}" alt="英雄联盟全国高校联赛">
                    <a target="_blank">英雄联盟全国高校联赛</a>
                </li>
            </ul>
        </div>

        <!--赛事进程-->
        <div>
            <i class="bg-keyboard-r"></i>
            <div class="match-stage">
                <h2 class="u-h1-title">
                    <i class="font-dbjgxlsjc">第八届高校联赛进程</i>
                </h2>
                <div class="match-stage-content">
                    <li>
                        <a class="name">全国总决赛</a>
                    </li>
                    <div class="stage-container-list">
                        <div style="display: block;">
                            <h4 class="u-h2-title">赛事奖励</h4
                            <div class="award-wrap">
                                <div class="award-item">
                                    <i class="cup"></i>
                                    <div class="list">
                                        <h5 class="name">周选拔赛 | <a class="blue">正赛场</a></h5>
                                        <p class="p1"><a class="tag">冠军</a><a class="m">￥</a><a
                                                class="money">500</a>&nbsp;+7天期限皮肤<br><i
                                                style="margin-left: -11px;"></i>随机表情包+晋级省赛资格</p>
                                        <p class="p2"><a class="tag">亚军</a>7天期限皮肤</p>
                                        <p class="p2"><a class="tag">季军</a>7天期限皮肤</p>
                                    </div>
                                </div>
                                <div class="award-item">
                                    <i class="cup"></i>
                                    <div class="list">
                                        <h5 class="name">周选拔赛 | <a class="blue">TFT赛事</a></h5>
                                        <p class="p1"><a class="tag">冠军</a><a class="m">￥</a><a
                                                class="money">200</a>&nbsp;+小小英雄蛋一个<br><i
                                                style="margin-left: -11px;"></i>晋级省赛资格</p>
                                        <p class="p2"><a class="tag">亚军</a>7天期限皮肤</p>
                                        <p class="p2"><a class="tag">季军</a>7天期限皮肤</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 关于高校联赛-->
        <div>
            <div class="about-lcl">
                <h2 class="u-h1-title">
                    <i class="font-gxls">关于高校联赛</i>
                </h2>
                <div class="introduction">
                    <img src="{{ url_for( "static", filename="image/competition_image/logo-lcl-1.png" ) }}" alt="全国高校联赛">
                    <div class="font">
                        <h3 class="title">多一份热爱，多一个世界！</h3>
                        <i class="line"></i>
                        <p class="detail">
                            英雄联盟全国高校联赛是由腾讯官方举办的针对高校学生的电子竞技赛事，旨在为所有的校园召唤师们提供一个梦想的竞技舞台！本届高校联赛除了传统赛事，新增英雄联盟云顶之弈赛事竞技！并新创建电竞虚拟孵化中心，电竞虚拟孵化中心内有搭建LCL赛事运营挑战杯，新文创创作大赛和校园解说大赛，为希望参赛、办赛、在电竞行业就业的校园伙伴们提供多样的支持！在这里，你可以叫上你的伙伴，在峡谷里来一场真正的技术比拼。在这里，你也可以通过专业知识一展所长，在这里我们坚信，多一份热爱，多一个世界！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <p><a href="#" target="_blank">腾讯互动娱乐</a> | <a href="#" target="_blank">服务条款</a>| <a href="#"
                    target="_blank">腾讯游戏隐私保护指引</a>| <a href="#" target="_blank">腾讯游戏儿童隐私保护指引</a>| <a href="#"
                    target="_blank">广告服务</a> | <a href="#" target="_blank">腾讯游戏招聘</a> | <a href="#"
                    target="_blank">腾讯游戏客服</a> | <a href="#" target="_blank">游戏地图</a> | <a href="#"
                    target="_blank">成长守护平台</a> | <a href="#" target="_blank">商务合作</a> | <a href="#"
                    target="_blank">网站导航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">腾讯公司 版权所有</a></p>
        </div>
    </div>

</body>

</html>