<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>賽事中心</title>
    <link href="{{ url_for( "static", filename="css/competition/competition.css" ) }}" rel="stylesheet" />
</head>

<body style="padding-top: 42px;">
    <div class="pre pre_bg" style="position: absolute;">
        <ul class="pre_b">
            <li class="pre_tg pre_bg"><a href="#" target="_blank" class="pre_blnk">騰訊遊戲</a></li>
            <li class="pre_gg pre_bg"><a target="_blank" class="pre_blnk" href="#">精彩活動</a></li>
            <li class="pre_link">
                <p class="page pre_bg"><a href="/" target="_blank" class="pre_lnk">英雄聯盟首頁</a></p>
                <p class="download"><a href="/" target="_blank" class="pre_lnk">遊戲下載</a></p>
            </li>
        </ul>
    </div>
    <div class="g-wrap">
        <!--顶部条-->
        <div class="top-bar">
            <div class="inner">
                <!--logo-->
                <div class="logo-list">
                    <a class="logo-item" href="#" target="_blank">
                        <img src="{{ url_for( "static", filename="image/competition_image/middle.png" ) }}" alt="英雄聯盟">
                    </a>
                    <a class="logo-item" href="#" target="_blank">
                        <img src="{{ url_for( "static", filename="image/competition_image/logo-lcl.png" ) }}" alt="英雄網全國高中聯賽">
                    </a>
                </div>

            </div>
        </div>
        <div class="banner">
            <ul>
                <li class="main-pic">
                    <img src="{{ url_for( "static", filename="image/competition_image/lcl-banner.jpg" ) }}" alt="英雄網全國高中聯賽">
                    <a target="_blank">英雄網全國高中聯賽</a>
                </li>
            </ul>
        </div>

        <div>
            <i class="bg-keyboard-r"></i>
            <div class="match-stage">
                <h2 class="u-h1-title">
                    <i class="font-dbjgxlsjc">第八屆高等學校聯賽課程</i>
                </h2>
                <div class="match-stage-content">
                    <li>
                        <a class="name">全國總決賽</a>
                    </li>
                    <div class="stage-container-list">
                        <div style="display: block;">
                            <h4 class="u-h2-title">賽事獎勵</h4>
                            <div class="award-wrap">
                                <div class="award-item">
                                    <i class="cup"></i>
                                    <div class="list">
                                        <h5 class="name">周選拔賽 | <a class="blue">正賽場</a></h5>
                                        <p class="p1"><a class="tag">冠軍</a><a class="m">￥</a><a
                                                class="money">500</a>&nbsp;+7天期限皮膚<br><i
                                                style="margin-left: -11px;"></i>隨機表情包+晉級省賽資格</p>
                                        <p class="p2"><a class="tag">亞軍</a>7天期限皮膚</p>
                                        <p class="p2"><a class="tag">季軍</a>7天期限皮膚</p>
                                    </div>
                                </div>
                                <div class="award-item">
                                    <i class="cup"></i>
                                    <div class="list">
                                        <h5 class="name">周選拔賽 | <a class="blue">TFT賽事</a></h5>
                                        <p class="p1"><a class="tag">冠军</a><a class="m">￥</a><a
                                                class="money">200</a>&nbsp;+小小英雄蛋一個<br><i
                                                style="margin-left: -11px;"></i>晉級省賽資格</p>
                                        <p class="p2"><a class="tag">亞軍</a>7天期限皮膚</p>
                                        <p class="p2"><a class="tag">季軍</a>7天期限皮膚</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 关于高校联赛-->
        <div>
            <div class="about-lcl">
                <h2 class="u-h1-title">
                    <i class="font-gxls">關於高校聯賽</i>
                </h2>
                <div class="introduction">
                    <img src="{{ url_for( "static", filename="image/competition_image/logo-lcl-1.png" ) }}" alt="全国高校联赛">
                    <div class="font">
                        <h3 class="title">多一份熱愛，多一個世界！</h3>
                        <i class="line"></i>
                        <p class="detail">
                            英雄聯盟全國高校聯賽是由騰訊官方舉辦的針對高校學生的電子競技賽事，旨在爲所有的校園召喚師們提供一個夢想的競技舞臺！本屆高校聯賽除了傳統賽事，新增英雄聯盟雲頂之弈賽事競技！並新創建電競虛擬孵化中心，電競虛擬孵化中心內有搭建LCL賽事運營挑戰杯，新文創創作大賽和校園解說大賽，爲希望參賽、辦賽、在電競行業就業的校園夥伴們提供多樣的支持！在這裏，你可以叫上你的夥伴，在峽谷裏來一場真正的技術比拼。在這裏，你也可以通過專業知識一展所長，在這裏我們堅信，多一份熱愛，多一個世界！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <p><a href="#" target="_blank">騰訊互動娛樂</a> | <a href="#" target="_blank">服務條款</a>| <a href="#"
                    target="_blank">騰訊遊戲隱私保護指引</a>| <a href="#" target="_blank">騰訊遊戲兒童隱私保護指引</a>| <a href="#"
                    target="_blank">廣告服務</a> | <a href="#" target="_blank">騰訊遊戲招聘</a> | <a href="#"
                    target="_blank">騰訊遊戲客服</a> | <a href="#" target="_blank">遊戲地圖</a> | <a href="#"
                    target="_blank">成長守護平臺</a> | <a href="#" target="_blank">商務合作</a> | <a href="#"
                    target="_blank">網站導航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">騰訊公司 版權所有</a></p>
        </div>
    </div>

</body>

</html>