<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>登录</title>
	<link href="{{ url_for( "static", filename="css/header.css" ) }}" rel="stylesheet" />
	<link href="{{ url_for( "static", filename="css/login/login.css" ) }}" rel="stylesheet" />
</head>

<body>
	<header>
	  <div class="head">
		<!-- logo start -->
		<a class="logo">
			<img src="{{ url_for( "static", filename="image/main_image/logo.png" ) }}" >
		</a>
		<!-- logo end -->

		<!-- menu start -->
		<div class="head-nav">
        <ul >
          <li>
            <a href="#">
              <span class="title">游戏资料</span>
              <span class="subtitle">GAME INFO</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title">商城/合作</span>
              <span class="subtitle">STORE</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title">社区互动</span>
              <span class="subtitle">COMMUNITY</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title">赛事官网</span>
              <span class="subtitle">ESPORTS</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title">自助系统</span>
              <span class="subtitle">SYSTEM</span>
            </a>
          </li>
        </ul>
        <!-- 导航下拉菜单列表 -->
        <div class="head-nav-sub">
          <div class="head-nav-sub-inner">
            <ul>
              <li>
                <a href="#">新手指引</a>
                <a href="#" class="rh">资料库</a>
                <a href="#">攻略中心</a>
                <a href="#" class="yh">开发者基地</a>
                <a href="#">海克斯战利品库</a>
                <a href="#" class="yh">武器大师竞技场</a>
                <a href="#">宇宙官网</a>
              </li>
              <li>
                <a href="#">点卷充值</a>
                <a href="#">道聚城</a>
                <a href="shopping.html" class="rh">周边商城</a>
                <a href="#">LOL桌游</a>
                <a href="#">LOL信用卡</a>
                <a href="#">网吧特权</a>
                <a href="#" class="yh">电竞小说</a>
              </li>
              <li>
                <a href="#">官方社区</a>
                <a href="#">视频中心</a>
                <a href="#">官方论坛</a>
                <a href="#">官方微信</a>
                <a href="#">官网微博</a>
                <a href="#" class="yh">玩家创作馆</a>
                <a href="#" class="yh">作者入驻计划</a>
                <a href="#" class="yh">玩家服务</a>
                </li>
              <li>
                <a href="#" class="yh">LPL职业联赛</a>
                <a href="#">LDL发展联赛</a>
                <a href="#">季中冠军赛</a>
                <a href="#">洲际系列赛</a>
                <a href="#">全球总决赛</a>
                <a href="#">全明星赛</a>
                <a href="#">高效联赛</a>
                <a href="#">城市英雄争霸赛</a>
              </li>
              <li>
                <a href="#">在线客服</a>
                <a href="#" class="yh">转区系统</a>
                <a href="#" class="rh">封号查询</a>
                <a href="#">体验服申请</a>
                <a href="#">回放系统</a>
                <a href="#">服务器状态查询</a>
                <a href="#" class="yh">秩序殿堂</a>
                <a href="#" class="yh">峡谷之巅</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- menu end -->

      <!-- userinfo start -->
      <div class="head-user">
        <div class="head-user-self">
          <a href="#" class="bg">
          	<img src="{{ url_for( "static", filename="image/main_image/default.png" ) }}" >
          </a>
          <span>亲爱的召唤师，欢迎<a href="#">登录</a> 
          </span>
        
     	  <!-- user info —— Access to the Personal Center  -->
          <div class="head-user-self-hover">
            <p>登录并且绑定大区后才可以查看您的具体信息哦<br>(包括战绩、资产、声望</p>
            <p>官网个人信息显示略有延迟，请以游戏数据为准</p>
            <a href="login.html">进入个人中心
            <i></i>
            </a>
          </div>
        </div>
      </div> 
      <!-- userinfo end -->

       <!-- QR code start -->
      <span class="head-user-pic">
        <a href="#" class="icon-phone"></a>
      <div class="head-user-erweima">
        <div class="head-user-erweima-pic">
          <a href="#">
          	  <img src="{{ url_for( "static", filename="image/main_image/zm-qrcode.jpg" ) }}" >
          </a>
        </div>
        <p>扫码下载掌上英雄联盟</p>
        <div class="polo">
          <img src="{{ url_for( "static", filename="image/main_image/polo.gif" ) }}" >
        </div>
      </div>
      </span> 
      <!-- QR code end  -->

       <!-- search start -->
      <span class="head-user-pic2">
        <a href="#" class="icon-search"></a>
      </span>
      <!-- search end -->

      <div class="head-version">
        <div>
          当前游戏版本:<em>Ver 9.10</em>
          <a href="#">版本详情</a>
        </div>
      </div>
    </div>
	</header>
	<!-- header end -->
	<main class="container">
		<input type="checkbox" class="switch" id="switch">
		<label class="trigger" for="switch">
			<span></span>
		</label>
		<section class="page account-page">
			
			<section class="section">
				<form method="post" id="login" onsubmit="return val()" target="_blank">
					<input class="form-item" type="text" id="user" placeholder="账号" /><br>
					<input class="form-item" type="password" id="password" placeholder="密码"><br>
					<button type="submit" value="Submit" class="form-item btn" >立即登录</button><br>
				</form>
			</section>

			<script type="text/javascript">
				function val() {
					var name = window.document.getElementById("user").value;
					var password = window.document.getElementById("password").value;
					if (name == "" || password == "") {
						window.alert("用户名或密码不能为空!");
						return false;
					}

					if (name != "YXLM" || password != "123456") {
						window.alert("用户名或密码错误!");
						return false;
					}
					return true;
				}
			</script>
	
			<footer class="bottom">
				<div class="options">
					<a href="../游戏主页/主页.html">英雄联盟首页</a>
					<a href="../下载中心/下载.html">下载游戏</a>
				</div>
			</footer>
		</section>
		<section class="page scan-page">
			<h2 class="title">掌上英雄联盟账号扫描登录</h2>
			<p class="subtitle">请使用最新版掌上英雄联盟进行扫码登录</p>
			<div class="wx_code">
				<img src="{{ url_for( "static", filename="image/login_image/scan.jpg" ) }}" >
			</div>
		</section>
	</main>
	<div class="footer_ieg">
			<p><a href="#" target="_blank">腾讯互动娱乐</a>&nbsp;|&nbsp;<a href="#" target="_blank">服务条款</a>&nbsp;|&nbsp;<a
					href="#" target="_blank">隐私与保护</a>&nbsp;|&nbsp;<a href="#" target="_blank">腾讯游戏招聘</a>&nbsp;|&nbsp;<a
					href="#" target="_blank">腾讯游戏客服</a>&nbsp;|&nbsp;<a href="#" target="_blank">游戏列表</a>&nbsp;|&nbsp;<a
					href="#" target="_blank">成长守护平台</a>&nbsp;|&nbsp;<a href="#" target="_blank">广告服务及商务合作</a></p>
			<p>COPYRIGHT © 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
			<p><a href="#" target="_blank">腾讯公司 版权所有</a></p>
	</div>
</body>

</html>