<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LOL注册</title>
  <link href="{{ url_for( "static", filename="css/register/register.css" ) }}" rel="stylesheet" />
  <link href="{{ url_for( "static", filename="css/register/reset.css" ) }}" rel="stylesheet" />
</head>
<body>
  <section>
    <div class="register">
      <div class="user">
        <form class="user-info">
          <div class="title">
            <p>新用户注册
              <a href="/login">直接登录</a>
            </p>
          </div>
          <div class="form-group">
            <label for="uname">用户名：</label>
            <input type="text" placeholder="请输入用户名" name="uname" id="uname">
            <span class="info" id="txtuname">用户名长度在6~9位之间</span>
          </div>
          <div class="form-group">
            <label for="upwd">登录密码：</label>
            <input type="password" placeholder="请输入密码" name="upwd" id="upwd">
            <span class="info" id="txtupwd"></span>
          </div>
          <div class="form-group">
            <label for="cpwd">确认密码：</label>
            <input type="password" placeholder="请确认密码" name="cpwd" id="cpwd">
            <span class="info" id="txtcpwd"></span>
          </div>
          <div class="form-group">
            <label for="email">邮箱：</label>
            <input type="text" placeholder="请输入邮箱地址" name="email" id="email">
            <span class="info" id="txtemail"></span>
          </div>
          <div class="form-group">
            <label for="phone">手机号：</label>
            <input type="text" placeholder="请输入您的手机号" name="phone" id="phone">
            <span class="info" id="txtphone"></span>
          </div>
          <div class="form-group">
            <label></label>
            <input type="button" value="提交注册信息" onclick="register()" id="submitinfo">
          </div>
        </form>
      </div>
    </div>
  </section>
  <script>
      function register() {
          console.log('aaaaaaaaa');
          var $uname = $("#uname").val()
          var $upwd = $("#upwd").val()
          var $email = $("#email").val()
          var $phone = $("#phone").val()
          if ($("#txtuname").text() != "用户名验证通过" || $("#txtupwd").text() != "密码验证通过" || $("#txtcpwd").text() != "两次密码输入一致" || $("#txtemail").text() != "该邮箱可以使用" || $("#txtphone").text() != "手机号验证通过") {
              alert("信息输入不正确")
              return
          }
          data = {
              data: JSON.stringify({
                  "username": $uname,
                  "password": $upwd,
                  "email": $email,
                  "mobile": $phone
              })
          }
          $.ajax({
              "url": "/register",
              "type": "POST",
              "data": data,
              "dataType": "json",
              success: function (result) {
                  if (result == "1") {
                      alert("注册成功")
                  } else
                      alert("注册失败")
              }
          })
      }
  </script>
 <script src="{{ url_for( "static", filename="js/jquery.js" ) }}"></script>
 <script src="{{ url_for( "static", filename="js/register.js" ) }}"></script>
</body>
</html>