<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>官方网页</title>
    <link href="{{ url_for( "static", filename="css/reset.css" ) }}" rel="stylesheet" />
    <link href="{{ url_for( "static", filename="css/header.css" ) }}" rel="stylesheet" />
    <link href="{{ url_for( "static", filename="css/index.css" ) }}" rel="stylesheet" />
    <script src="{{ url_for( "static", filename="js/jquery.js" ) }}"></script>
    <script src="{{ url_for( "static", filename="js/index.js" ) }}"></script>
</head>
<body>
	<!-- header start -->
	<header>
	  <div class="head">
		<!-- logo start -->
		<a class="logo">
			<img src="{{ url_for( "static", filename="image/main_image/logo.png" ) }}" >
		</a>
		<!-- logo end -->

		<!-- menu start -->
		<div class="head-nav">
        <ul >
          <li>
            <a href="/guide">
              <span class="title">新手指引</span>
              <span class="subtitle">GAME GUIDE</span>
            </a>
          </li>
          <li>
            <a href="/psp">
              <span class="title">攻略中心</span>
              <span class="subtitle">PSP</span>
            </a>
          </li>
          <li>
            <a href="/creation">
              <span class="title">玩家創作館</span>
              <span class="subtitle">CREATION</span>
            </a>
          </li>
          <li>
            <a href="/competition">
              <span class="title">賽事官網</span>
              <span class="subtitle">COMPETITION</span>
            </a>
          </li>
          <li>
            <a href="/report">
              <span class="title">秩序殿堂</span>
              <span class="subtitle">REPORT</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- menu end -->

      <!-- userinfo start -->
      <div class="head-user">
        <div class="head-user-self">
          <a href="#" class="bg">
          	<img src="{{ url_for( "static", filename="image/main_image/default.png" ) }}" >
          </a>
          <span>親愛的召喚師，歡迎<a href="#">登錄</a>
          </span>
        
     	  <!-- user info —— Access to the Personal Center  -->
          <div class="head-user-self-hover">
            <p>登錄並且綁定大區後才可以查看您的具體信息哦<br>(包括戰績、資產、聲望</p>
            <p>官網個人信息顯示略有延遲，請以遊戲數據為準</p>
            <a href="login.html">進入個人中心
            <i></i>
            </a>
          </div>
        </div>
      </div> 
      <!-- userinfo end -->

       <!-- QR code start -->
      <span class="head-user-pic">
        <a href="#" class="icon-phone"></a>
      <div class="head-user-erweima">
        <div class="head-user-erweima-pic">
          <a href="#">
          	  <img src="{{ url_for( "static", filename="image/main_image/zm-qrcode.jpg" ) }}" >
          </a>
        </div>
        <p>掃碼下載掌上英雄聯盟</p>
        <div class="polo">
          <img src="{{ url_for( "static", filename="image/main_image/polo.gif" ) }}" >
        </div>
      </div>
      </span> 
      <!-- QR code end  -->

       <!-- search start -->
      <span class="head-user-pic2">
        <a href="#" class="icon-search"></a>
      </span>
      <!-- search end -->

      <div class="head-version">
        <div>
          當前遊戲版本:<em>Ver 9.10</em>
          <a href="#">版本詳情</a>
        </div>
      </div>
    </div>
    <div class="head-bgimg clearfix">
    </div>
    <a href="#" class="head-link">查看詳情</a>
	</header>
	<!-- header end -->

	<!-- body start  -->
	<div class="container floor">
		<!-- banner start -->
		<div class="tab-carousel">
			<div class="carousel">
		        <ul>
                {% for x in items.banner %}
		          <li>
		          	<img src="{{ url_for( "static", filename= x[0] ) }}" >
		          </li>
                {% endfor %}
		        </ul>
		        <div class="carousel-list" id="carousel-lists">
		          <span class="selected">风暴龍拳</span>
		          <span>太空律動</span>
		          <span>尊爵太空露璐</span>
		          <span>宇宙大拍賣</span>
		          <span>星河幽冥拉克絲</span>
		        </div>
		    </div>


		    <!-- news start -->
		    <div class="tab">
        <div class="tab-top">
          <ul>
            <li class="selected">公告·</li>
            <li>賽事</li>
            <li>攻略</li>
            <li>社區</li>
            <li>活動</li>
          </ul>
        </div>
      <!-- 上部分 -->
        <div class="tab-content">
          <ul class="db">
            <li>
              <a href="#">
                “520甜蜜週末” 全場半價延長公告
              </a>
            </li>

          {% for x in items.competition %}
            <li>
              <span class="item-type">攻略</span>
              <a class="item-href" href={{ x[1] }}>
                {{ x[2] }}
              </a>
              <span class="item-time">{{ x[3] }}</span>
            </li>
          {% endfor %}

          </ul>
          <ul class="dn">
            <li>
              <a href="#">
                  峽谷之巔第四賽季獎勵公告
              </a>
            </li>

          {% for x in items.notice %}
            <li>
              <span class="item-type">攻略</span>
              <a class="item-href" href={{ x[1] }}>
                {{ x[2] }}
              </a>
              <span class="item-time">{{ x[3] }}</span>
            </li>
          {% endfor %}

          </ul>
          <ul class="dn">
            <li>
              <a href="#">
                  【小海】中韓服第一錘石，教你學會錘石細節
              </a>
            </li>

          {% for x in items.competition %}
            <li>
              <span class="item-type">攻略</span>
              <a class="item-href" href={{ x[1] }}>
                {{ x[2] }}
              </a>
              <span class="item-time">{{ x[3] }}</span>
            </li>
          {% endfor %}


          </ul>
          <ul class="dn">
            <li>
              <a href="#">
                  莫德凱撒重做即達巔峰，雙重玩法統治上中兩路
              </a>
            </li>

          {% for x in items.notice %}
            <li>
              <span class="item-type">攻略</span>
              <a class="item-href" href={{ x[1] }}>
                {{ x[2] }}
              </a>
              <span class="item-time">{{ x[3] }}</span>
            </li>
          {% endfor %}

          </ul>
          <ul class="dn">
            <li>
              <a href="#">
                狼王發威塔下一秀二，群恐撕咬極限反殺
              </a>
            </li>

          {% for x in items.competition %}
            <li>
              <span class="item-type">攻略</span>
              <a class="item-href" href={{ x[1] }}>
                {{ x[2] }}
              </a>
              <span class="item-time">{{ x[3] }}</span>
            </li>
          {% endfor %}

          </ul>
          <a class="tab-bottom" href="#">
            <span>閱讀更多</span>
            <span>最新資訊</span>
            <i></i>
          </a>
        </div>
      </div>
	</div>
	<!-- banner end -->

	<div class="m-act">
      <div class="m-act-top">
        <div class="m-act-top-left">
          <div class="m-act-title">
            <h2>熱門活動</h2>
            <a href="#">
            </a>
          </div>
          <div class="m-act-list">
            <ul class="db">

            {% for x in items.activity %}
              <li>
                <a href="#">
                	<img src="{{ url_for( "static", filename= x[1] ) }}" alt="" title={{ x[2] }} >
                </a>
                <p class="titlelist">{{ x[3] }}</p>
                <a href="#" class="timing">{{ x[4] }}</a>
                <em></em>
                <div class="mask">
                  <div class="mask-news">
                    <h3>{{ x[5] }}</h3>
                    <p>{{ x[6] }}</p>
                    <p>{{ x[7] }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="m-act-top-right">
          <ul>
            <li>
              <a href="/download"></a>
            </li>
            <li class="p1 flashmen">
              <a href="#">新手必備</a>
            </li>
            <li class="p2 flashmen">
              <a href="#">領取中心</a>
            </li>
            <li class="p3">
              <em></em>
              <a href="#">峽谷之巔</a>
            </li>

            <li class="p3">
              <em class="icon"></em>
              <a href="#">微信綁定</a>
              <em class="news"></em>
            </li>
            <li class="p3">
              <em></em>
              <a href="#">LOL宇宙</a>
            </li>
            <li class="p4">
              <em></em>
              <a href="#">玩家社區</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-act-bottom">
        <div class="m-act-bottom-left">
          <div class="champion-one">
            <p>“嗷呜！我是一頭山地獅！”</p>
            <p>
              <a href="#" class="magiccat">魔法貓咪 悠米</a>
            </p>
            <img src="{{ url_for( "static", filename="image/index_image/champion1.jpg" ) }}" alt="" >
            <a href="#" class="newhero">新英雄</a>
            <div class="mask-magiccat">
              <em></em>
              <p>魔法猫咪 悠米</p>
              <ul>
                <li>
                  難度 :
                  <span>
                    <em></em>
                  </span>
                </li>
                <li>
                  物理攻擊 :
                  <span>
                    <em></em>
                  </span>
                </li>
                <li>
                  防禦能力 :
                  <span>
                    <em style="width: 20px"></em>
                  </span>
                </li>
                <li>
                  魔法攻擊 :
                  <span>
                    <em style="width: 60px"></em>
                  </span>
                </li>
              </ul>
              <a href="#">
                查看詳情
                <i></i>
              </a>
            </div>
          </div>
          <!-- 新英雄板块完成 -->
          <div class="champion-one">
            <p>我是要成為英雄的人！</p>
            <p>
              <a href="#" class="magiccat">戰鬥學院</a>
            </p>
            <img src="{{ url_for( "static", filename="image/index_image/champion2.jpg" ) }}" alt="" class="newskin">
            <a href="#" class="newhero">新皮膚</a>
            <div class="more-skin">
              <ul>

                  {% for x in items.newskin.newskin %}
                <li>
                  <img src="{{ url_for( "static", filename=x.imgurl ) }}" alt="" >
                  <a href="#">{{ x.title }}</a>
                </li>
                  {% endfor %}

                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="m-act-bottom-right">
          <div class="new-vision">
          	<img src="{{ url_for( "static", filename="image/index_image/version.png" ) }}" alt="" >
          </div>
          <div class="club-develop">
          	<img src="{{ url_for( "static", filename="image/index_image/0(3).jpg" ) }}" alt="" >
            <a href="#" title="小恶魔 崔丝塔娜：原画&炫彩皮肤">
              <em></em>
              <p class="p1">小惡魔崔絲塔娜:原畫&炫彩皮膚</p>
              <p class="p2">本期是小惡魔崔絲塔娜的倒數第2次更新，今天我們要分享的是個人與炫彩皮膚的進展以及原畫創作的過程</p>
            </a>
          </div>
          <div class="new-model">
          	<img src="{{ url_for( "static", filename="image/index_image/0(2).jpg" ) }}" alt="" >
          </div>
          <div class="week-free">
            <a href="#">
              <em class="icon-left"></em>
              周執照
              <i></i>
              <em class="icon-right"></em>
            </a>
            <div class="free-pic">
              <em></em>
              <ul>

                  {% for x in items.newhero.newhero %}
                <li>
                  <a href="#">
                  	<img src="{{ url_for( "static", filename= x.imgurl ) }}" alt="" >
                  </a>
                </li>
                  {% endfor %}

              </ul>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  

	<div class="m-video floor">
    <div class="part2-video">
    	<div class="m-video-left">
        <div class="m-video-title">
          <h2>最新視頻</h2>
          <ul>
            <li class="selected">推薦</li>
            <li>官方</li>
            <li>娛樂</li>
            <li>賽事</li>
            <li>教學</li>
          </ul>
          <a href="#">
            更多<i></i>
          </a>
        </div>
        <div>
        <ul class="video-time db">

        {% for x in items.video.video %}
          <li>
            <a href="#">
              <img src="{{ url_for( "static", filename= x.imgurl ) }}" alt="" >
              <span>
                <em></em>
                <u></u>
              </span>
            </a>
            <a href="#">{{ x.title }}</a>
            <a href="#">{{ x.view }}</a>
            <a href="#">{{ x.datetime }}</a>
          </li>
        {% endfor %}


        </ul>
        <ul class="video-time dn">

        {% for x in items.video.video %}
          <li>
            <a href="#">
              <img src="{{ url_for( "static", filename= x.imgurl ) }}" alt="" >
              <span>
                <em></em>
                <u></u>
              </span>
            </a>
            <a href="#">{{ x.title }}</a>
            <a href="#">{{ x.view }}</a>
            <a href="#">{{ x.datetime }}</a>
          </li>
        {% endfor %}

        </ul>
        <ul class="video-time dn">

            {% for x in items.video.video %}
          <li>
            <a href="#">
              <img src="{{ url_for( "static", filename= x.imgurl ) }}" alt="" >
              <span>
                <em></em>
                <u></u>
              </span>
            </a>
            <a href="#">{{ x.title }}</a>
            <a href="#">{{ x.view }}</a>
            <a href="#">{{ x.datetime }}</a>
          </li>
        {% endfor %}

        </ul>
        <ul class="video-time dn">

        {% for x in items.video.video %}
          <li>
            <a href="#">
              <img src="{{ url_for( "static", filename= x.imgurl ) }}" alt="" >
              <span>
                <em></em>
                <u></u>
              </span>
            </a>
            <a href="#">{{ x.title }}</a>
            <a href="#">{{ x.view }}</a>
            <a href="#">{{ x.datetime }}</a>
          </li>
        {% endfor %}
        </ul>
        </div>
      </div>

      <!--  热门专辑  -->
      <div class="m-video-right">
          <div class="m-video-title">
            <h2>熱門專輯</h2>
            <ul class="video-day">
              <li class="selected">週一</li>
              <li>週二</li>
              <li>週三</li>
              <li>週四</li>
              <li>週五</li>
              <li>週六</li>
              <li>週日</li>
            </ul>
          </div>
          <div class="hotprogram">
            <div class="hotprogram-content">
            <div class="hotcontent">
              <ul class="db">

                  {% for x in items.issue.issue %}
                <li>
                	<img src="{{ url_for( "static", filename= x.name_img ) }}" alt="" >
                  <h4>{{ x.title }}</h4>
                  <p>{{ x.datetime }}</p>
                  <a href="#" class="name-hotprogram">
                      {{ x.content }}
                  </a>
                  <a href="#" class="author-hotprogram">
                    <img src="{{ url_for( "static", filename= x.author_img ) }}" alt="" >
                    {{ x.username }}
                  </a>
                </li>
                  {% endfor %}

              </ul>
              <ul class="dn">
                {% for x in items.issue.issue %}
                <li>
                	<img src="{{ url_for( "static", filename= x.name_img ) }}" alt="" >
                  <h4>{{ x.title }}</h4>
                  <p>{{ x.datetime }}</p>
                  <a href="#" class="name-hotprogram">
                      {{ x.content }}
                  </a>
                  <a href="#" class="author-hotprogram">
                    <img src="{{ url_for( "static", filename= x.author_img ) }}" alt="" >
                    {{ x.username }}
                  </a>
                </li>
                {% endfor %}

              </ul>
            </div>
              <a  class="hotprogram-left"></a>
              <a  class="hotprogram-right"></a>
            </div>
            <a href="#" class="more-hotprogram">
              前往視頻中心
              <i></i>
            </a>
          </div>
      </div>
    </div>
  </div>
	<!-- body end-->
</body>
</html>
