<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>下载</title>
    <link href="{{ url_for( "static", filename="css/downloads/download.css" ) }}" rel="stylesheet" />
</head>

<body class="download">

    <div class="comm-head">
        <div class="head-normal">
            <!--logo-->
            <a class="logo" href="#" title="英雄联盟官网">
                <img src="{{ url_for( "static", filename="image/download_image/logo-public.png" ) }}" alt="英雄联盟" width="167" height="60">
            </a>
            <!--官网导航-->
            <ul class="head-nav">
                <li>
                    <a href="/guide" target="_blank">
                        <span class="head-nav-title">新手指引</span>
                        <span class="head-nav-subtitle">GAME GUIDE</span>
                    </a>
                </li>

                <li>
                    <a href="/psp">
                        <span class="head-nav-title">攻略中心</span>
                        <span class="head-nav-subtitle">PSP</span>
                    </a>
                </li>

                <li>
                   <a href="/creation">
                        <span class="head-nav-title">玩家創作館</span>
                        <span class="head-nav-subtitle">CREATION</span>
                    </a>
                </li>

                <li>
                    <a href="/competition">
                        <span class="head-nav-title">賽事官網</span>
                        <span class="head-nav-subtitle">COMPETITION</span>
                    </a>
                </li>

                <li>
                    <a href="/report">
                        <span class="head-nav-title">秩序殿堂</span>
                        <span class="head-nav-subtitle">REPORT</span>
                    </a>
                </li>
            </ul>

            <div class="head-user-normal">
                <div class="head-user-profile">
                    <img src="{{ url_for( "static", filename="image/download_image/default.png" ) }}" alt="玩家頭像" width="36" height="auto">
                </div>
                <div class="head-user-brief">
                    <p class="login">親愛的召喚師，歡迎<a href="/login" target="_blank">登錄</a></p>
                </div>
            </div>
        </div>

    </div>

    <!-- 查看详情 -->
    <div class="comm-topact">
        <img class="big-image" src="{{ url_for( "static", filename="image/download_image/0.jpg" ) }}" >
        <div class="dark-line"></div>
        <div class="right-link">
            <a class="top-act-link" href="#" target="_blank">查看詳情</a>
            <div class="top-version">當前遊戲版本：<em>Ver 9.23</em> <a class="top-version-link" href="#"
                    target="_blank">版本詳情</a></div>
        </div>
    </div>
    <div>
        <div class="g-wrap">
            <!--路径导航-->
            <div class="website-path">
                <i class="icon-home"></i>
                <a href="/">英雄聯盟首頁</a>
                <i class="icon-arrow-2"></i>
                <a class="here">下載中心</a>
            </div>
            <div>
                <div class="inforbox">
                    <h2 class="title pic"><span>最新客戶端下載（<span>Ver
                                9.23</span>）</span></h2>
                    <div>
                        <p class=" downinfo">當前版本：v4.1.6.0 | 更新日期：2019-11-26 | 文件大小：10GB</p>
                            <p><a class="down-news" target="_blank" href="#">【查看最新版本公告】</a>
                            </p>
                            <ul class="ofh">
                                <li class="downlst"><a href="#" class="downbtn pic"><strong>高速下載器</strong></a></li>
                        </ul>
                    </div>
                    <p style=" margin-top: -20px;margin-bottom: 20px; font-weight: bold">
                                            重要提醒：如果使用Chrome（谷歌）瀏覽器無法下載，請切換IE或其他瀏覽器下載。</p>
                                            <h2 class="title pic"><span>合作媒體下載</span></h2>
                    <div class=" media">
                                                    <a target="_blank" href="#">騰訊遊戲頻道</a>
                                                    | <a target="_blank" href="#">17173</a>
                                                    | <a target="_blank" href="#">U9</a>
                                                    | <a target="_blank" href="#">52PK</a>
                </div>
                <h2 class="title pic"><span>體驗服和比賽服下載</span></h2>
                    <div class=" media">
                        <a target="_blank" href="#">體驗服</a>
                        | <a target="_blank" href="#">比賽服</a>
            </div>
            <h2 class="title pic"><span>其他相關下載</span></h2>
                    <div class=" media">
                    <a href="#" target="_blank" class="other_lnk">LOL主題包</a> | <a href="#" target="_blank"
                        class="other_lnk">LOL皮膚</a> | <a href="#" target="_blank" class="other_lnk">QTalk</a> | <a
                        href="#" target="_blank" class="other_lnk">酷玩CC</a>
                    | <a href="#" target="_blank" class="other_lnk">遊戲圈修復工具</a>
        </div>

    </div>
    <!--侧边通用导航-->
    <ul class="m-slide-nav">
        <li class="scan">
            <img src="{{ url_for( "static", filename="image/download_image/zm-qrcode.jpg" ) }}"  alt="掌盟二维码" width="96" height="96" >
            <p class="p1">掌上英雄聯盟</p>
            <p class="p2">官方資訊 快速掌握</p>
            <p class="p3">掃一掃立即下載</p>
        </li>
        <li class="scan">
            <img src="{{ url_for( "static", filename="image/download_image/wb-qrcode.jpg" ) }}"  alt="英雄联盟官方微博" width="96" height="96" >
            <p class="p1">英雄聯盟官方微博</p>
            <p class="p2">官方服務平臺精彩不停 互動有你</p>
            <p class="p3">掃一掃即可關注</p>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-spzx"></i>視頻中心</a>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-sszx"></i>賽事中心</a>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-gift"></i>領取中心</a>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-yz"></i>LOL宇宙</a>
        </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="footer_ied">
         <div class="wrap_ied">
            <p><a href="#" target="_blank">騰訊互動娛樂</a> | <a href="#" target="_blank">服務條款</a>| <a href="#"
                    target="_blank">騰訊遊戲隱私保護指引</a>| <a href="#" target="_blank">騰訊遊戲兒童隱私保護指引</a>| <a href="#"
                    target="_blank">廣告服務</a> | <a href="#" target="_blank">騰訊遊戲招聘</a> | <a href="#"
                    target="_blank">騰訊遊戲客服</a> | <a href="#" target="_blank">遊戲地圖</a> | <a href="#"
                    target="_blank">成長守護平臺</a> | <a href="#" target="_blank">商務合作</a> | <a href="#"
                    target="_blank">網站導航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">騰訊公司 版權所有</a></p>
        </div>
    </div>
</body>
</html>