<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>下载</title>
    <link href="{{ url_for( "static", filename="css/downloads/download.css" ) }}" rel="stylesheet" />
</head>

<body class="download">

    <div class="comm-head">
        <div class="head-normal">
            <!--logo-->
            <a class="logo" href="#" title="英雄联盟官网">
                <img src="{{ url_for( "static", filename="image/download_image/logo-public.png" ) }}" alt="英雄联盟" width="167" height="60">
            </a>
            <!--官网导航-->
            <ul class="head-nav">
                <li>
                    <a href="https://lol.qq.com/data/info-heros.shtml" target="_blank">
                        <span class="head-nav-title">游戏资料</span>
                        <span class="head-nav-subtitle">GAME INFO</span>
                    </a>
                </li>

                <li>
                    <a>
                        <span class="head-nav-title">商城/合作</span>
                        <span class="head-nav-subtitle">STORE</span>
                    </a>
                </li>

                <li>
                    <a>
                        <span class="head-nav-title">社区互动</span>
                        <span class="head-nav-subtitle">COMMUNITY</span>
                    </a>
                </li>

                <li>
                    <a href="https://lpl.qq.com/" target="_blank" title="赛事官网">
                        <span class="head-nav-title">赛事官网</span>
                        <span class="head-nav-subtitle">ESPORTS</span>
                    </a>
                </li>

                <li>
                    <a>
                        <span class="head-nav-title">自助系统</span>
                        <span class="head-nav-subtitle">SYSTEM</span>
                    </a>
                </li>
            </ul>

            <!--玩家信息-->
            <div class="head-user-normal">
                <div class="head-user-profile">
                    <img src="{{ url_for( "static", filename="image/download_image/default.png" ) }}" alt="玩家头像" width="36" height="auto">
                </div>
                <div class="head-user-brief">
                    <p class="login">亲爱的召唤师，欢迎<a href="/login" target="_blank">登录</a></p>
                </div>
            </div>
        </div>

    </div>

    <!-- 查看详情 -->
    <div class="comm-topact">
        <img class="big-image" src="{{ url_for( "static", filename="image/download_image/0.jpg" ) }}" >
        <div class="dark-line"></div>
        <div class="right-link">
            <a class="top-act-link" href="#" target="_blank">查看详情</a>
            <div class="top-version">当前游戏版本：<em>Ver 9.23</em> <a class="top-version-link" href="#"
                    target="_blank">版本详情</a></div>
        </div>
    </div>
    <div>
        <div class="g-wrap">
            <!--路径导航-->
            <div class="website-path">
                <i class="icon-home"></i>
                <a href="/">英雄联盟首页</a>
                <i class="icon-arrow-2"></i>
                <a class="here">下载中心</a>
            </div>
            <div>
                <div class="inforbox">
                    <h2 class="title pic"><span>最新客户端下载（<span>Ver
                                9.23</span>）</span></h2>
                    <div>
                        <p class=" downinfo">当前版本：v4.1.6.0 | 更新日期：2019-11-26 | 文件大小：10GB</p>
                            <p><a class="down-news" target="_blank" href="#">【查看最新版本公告】</a>
                            </p>
                            <ul class="ofh">
                                <li class="downlst"><a href="#" class="downbtn pic"><strong>高速下载器</strong></a></li>
                        </ul>
                    </div>
                    <p style=" margin-top: -20px;margin-bottom: 20px; font-weight: bold">
                                            重要提醒：如果使用Chrome（谷歌）浏览器无法下载，请切换IE或其他浏览器下载。</p>
                                            <h2 class="title pic"><span>合作媒体下载</span></h2>
                    <div class=" media">
                                                    <a target="_blank" href="#">腾讯游戏频道</a>
                                                    | <a target="_blank" href="#">17173</a>
                                                    | <a target="_blank" href="#">U9</a>
                                                    | <a target="_blank" href="#">52PK</a>
                </div>
                <h2 class="title pic"><span>体验服和比赛服下载</span></h2>
                    <div class=" media">
                        <a target="_blank" href="#">体验服</a>
                        | <a target="_blank" href="#">比赛服</a>
            </div>
            <h2 class="title pic"><span>其他相关下载</span></h2>
                    <div class=" media">
                    <a href="#" target="_blank" class="other_lnk">LOL主题包</a> | <a href="#" target="_blank"
                        class="other_lnk">LOL皮肤</a> | <a href="#" target="_blank" class="other_lnk">QTalk</a> | <a
                        href="#" target="_blank" class="other_lnk">酷玩CC</a>
                    | <a href="#" target="_blank" class="other_lnk">游戏圈修复工具</a>
        </div>

    </div>
    <!--侧边通用导航-->
    <ul class="m-slide-nav">
        <li class="scan">
            <img src="{{ url_for( "static", filename="image/download_image/zm-qrcode.jpg" ) }}"  alt="掌盟二维码" width="96" height="96" >
            <p class="p1">掌上英雄联盟</p>
            <p class="p2">官方资讯 快速掌握</p>
            <p class="p3">扫一扫立即下载</p>
        </li>
        <li class="scan">
            <img src="{{ url_for( "static", filename="image/download_image/wb-qrcode.jpg" ) }}"  alt="英雄联盟官方微博" width="96" height="96" >
            <p class="p1">英雄联盟官方微博</p>
            <p class="p2">官方服务平台精彩不停 互动有你</p>
            <p class="p3">扫一扫即可关注</p>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-spzx"></i>视频中心</a>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-sszx"></i>赛事中心</a>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-gift"></i>领取中心</a>
        </li>
        <li class="right-intro">
            <a href="#"><i class="icon-yz"></i>LOL宇宙</a>
        </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="footer_ied">
        <div class="wrap_ied">
            <p><a href="#" target="_blank">腾讯互动娱乐</a> | <a href="#" target="_blank">服务条款</a>| <a href="#"
                    target="_blank">腾讯游戏隐私保护指引</a>| <a href="#" target="_blank">腾讯游戏儿童隐私保护指引</a>| <a href="#"
                    target="_blank">广告服务</a> | <a href="#" target="_blank">腾讯游戏招聘</a> | <a href="#"
                    target="_blank">腾讯游戏客服</a> | <a href="#" target="_blank">游戏地图</a> | <a href="#"
                    target="_blank">成长守护平台</a> | <a href="#" target="_blank">商务合作</a> | <a href="#"
                    target="_blank">网站导航</a></p>
            <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
            <p><a href="#" target="_blank">腾讯公司 版权所有</a></p>
        </div>
    </div>

</html>