<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>新手指引</title>
  <link href="{{ url_for( "static", filename="css/guide/guide.css" ) }}" rel="stylesheet" />
</head>

<body class="newbie">
  <div class="comm-head">
    <div class="head-normal">
      <!--logo-->
      <a class="logo" href="#" title="英雄联盟官网">
         <img src="{{ url_for( "static", filename="image/guide_image/logo-public.png" ) }}"  width="167" height="60">
      </a>
       <ul class="head-nav">
            <li>
                <a href="/guide" target="_blank">
                    <span class="head-nav-title">新手指引</span>
                    <span class="head-nav-subtitle">GAME GUIDE</span>
                </a>
            </li>

            <li>
                <a href="/psp">
                    <span class="head-nav-title">攻略中心</span>
                    <span class="head-nav-subtitle">PSP</span>
                </a>
            </li>

            <li>
               <a href="/creation">
                    <span class="head-nav-title">玩家創作館</span>
                    <span class="head-nav-subtitle">CREATION</span>
                </a>
            </li>

            <li>
                <a href="/competition">
                    <span class="head-nav-title">賽事官網</span>
                    <span class="head-nav-subtitle">COMPETITION</span>
                </a>
            </li>

            <li>
                <a href="/report">
                    <span class="head-nav-title">秩序殿堂</span>
                    <span class="head-nav-subtitle">REPORT</span>
                </a>
            </li>
        </ul>

      <!--玩家信息-->
      <div class="head-userinfo-normal">
        <div class="head-userinfo-profile">
            <img src="{{ url_for( "static", filename="image/guide_image/default.png" ) }}" alt="玩家头像" width="36" height="auto">
        </div>
        <div class="head-userinfo-brief">
          <p class="unlogin">親愛的召喚師，歡迎<a href="/login" target="_blank">登錄</a></p>
        </div>
      </div>
    </div>

  </div>

  <div class="comm-topact">
    <img class="big-image" src="{{ url_for( "static", filename="image/guide_image/0.jpg" ) }}" alt="玩家頭像" width="36" height="auto">
    <div class="dark-line"></div>
    <div class="right-link">
      <a class="top-act-link" href="#" target="_blank">查看詳情</a>
      <div class="top-version">當前遊戲版本：<em>Ver 9.22</em> <a class="top-version-link" href="#" target="_blank">版本詳情</a>
      </div>
    </div>
  </div>
  <div class="wraper">
    <div class="mainer">
      <div class="website-path">
        <a href="/" target="_blank">英雄聯盟首頁</a>
        <i class="gap"></i>
        <a class="here">新手指引</a>
      </div>
      <div class="newbienav">
        <ul class="clearfix newbienav-light">
          <li class="nb1"><a href="#" class="list">什麼是LOL</a></li>
          <li class="nb2"><a href="#" class="list">下載與安裝</a></li>
          <li class="nb3"><a href="#" class="list">新手攻略</a></li>
          <li class="nb4"><a href="#" class="list">遊戲進階</a></li>
          <li class="nb5"><a href="#" class="list">遊戲進階</a></li>
        </ul>
      </div>
      <div class="newbie-what">
        <div class="borlineX clearfix">
          <div class="frame-right newbie-textbox">
            <h2 class="newbie-title">什麼是英雄聯盟？</h2>
            <p>英雄聯盟（League of Legends）是由美國Riot
              Games開發，騰訊遊戲運營的全新英雄對戰網遊。英雄聯盟的主創團隊由各著名遊戲公司的核心美術、策劃、程序人員組成，他們打造了遊戲中風格特色各異的英雄，加入更加豐富的物品合成系統、地圖玩法、天梯匹配機制，以及獨創的“召喚師”技能、符文、天賦組合，讓玩家感受不一樣的英雄對戰網遊。
            </p>
            <p>在遊戲中，玩家將扮演一位召喚者，並選擇你所信任的聯盟國進入這個遊戲的正義領域，爲了控制瓦羅然的權利而奮戰。在這個聯盟中只有一條規則：勝者就是一切！</p>
          </div>
        </div>
        <ul class="clearfix newbie-what-second">
          <li>
            <div class="frame-left newbie-textbox">
              <h2 class="newbie-title">全新英雄对战网游</h2>
              <p>
                英雄聯盟中擁有的海量英雄及皮膚讓人印象深刻——這些英雄不僅在外觀上風格迥異，甚至個個都有自己獨特的性格和脾氣，例如：正氣凜然的無畏先鋒軍團領袖—德瑪西亞之力蓋倫、意志堅強的弗雷爾卓德部族領袖—寒冰射手艾希、樂於鑽研的魔法學者—流浪法師瑞茲……除此之外，你還可以在英雄聯盟中看到代表不同地域文化特色的角色或皮膚，其中包括中國武術大師、北歐冰雪巨人、日本忍者、古埃及神話角色等。
              </p>
              <p>在遊戲中，身爲召喚師的玩家在每局遊戲中都將召喚一位英雄幫助自己進行戰鬥。目前已經有許多英雄協助他們達成目標，在英雄聯盟中完成各自心中的正義之戰！我們也深信，在英雄聯盟超過100位英雄中，總有一個是合適你的！
              </p>
              <p>英雄，爲你而戰！</p>
              <p>注：英雄聯盟每週有13位免費英雄可供使用。</p>
              <div class="newbie-btns">
                <a href="//lol.qq.com/act/a20110408tests/" target="_blank"
                  class="commspr commbtn-green2">尋找您喜愛的英雄</a>&nbsp;&nbsp;<a href="#" target="_blank"
                  class="commspr commbtn-green2">查看所有英雄</a>
              </div>
            </div>
            <div class="frame-right">
                <img src="{{ url_for( "static", filename="image/guide_image/newbie_01.jpg" ) }}" alt="全新英雄對戰網遊">
            </div>
          </li>
        </ul>
        <ul class="newbie-what-reel">
          <li><span rel="_n1" class="commspr line current"><i class="commspr point"></i></span></li>
          <li><span rel="_n2" class="commspr line"><i class="commspr point"></i></span></li>
          <li><span rel="_n3" class="commspr line"><i class="commspr point"></i></span></li>
          <li><span rel="_n4" class="commspr line"><i class="commspr point"></i></span></li>
          <li><span rel="_n5" class="commspr line"><i class="commspr point"></i></span></li>
        </ul>

        <div class="newbie-downbtn">
          <a href="/download" title="立即下載英雄聯盟" class="commspr commbtn-downs">
            <b class="none">立即下載英雄聯盟</b>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
      <div class="wrap">
        <p><a href="#" target="_blank">騰訊互動娛樂</a> | <a href="#" target="_blank">服務條款</a>| <a href="#"
            target="_blank">騰訊遊戲隱私保護指引</a>| <a href="#" target="_blank">騰訊遊戲兒童隱私保護指引</a>| <a href="#"
            target="_blank">廣告服務</a> | <a href="#" target="_blank">騰訊遊戲招聘</a> | <a href="#"
            target="_blank">騰訊遊戲客服</a> | <a href="#" target="_blank">遊戲地圖</a> | <a href="#"
            target="_blank">成長守護平臺</a> | <a href="#" target="_blank">商務合作</a> | <a href="#"
            target="_blank">網站導航</a></p>
        <p>COPYRIGHT &copy; 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
        <p><a href="#" target="_blank">騰訊公司 版權所有</a></p>
      </div>
  </div>

  </body>
</html>